<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<button tooltip="Click to create a new SIA" placement="left" *ngIf="isUserAllowedToCreateNewApplication() && path !='approvals' && path != 'incident-management' && path != 'review'"
  type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal" style="float: right; margin-right: 10px">Create SIA</button>
<div class="modal fade" id="myModal" role="dialog" #myModal>
  <app-create-application></app-create-application>
</div>

<br>
<app-search-params [path]="path" [airline]="airlineName" [applicationName]="appName" [applicationNameList]="appNameList" *ngIf="path != 'review'"
  [applicationCompleteNameList]="applicationCompleteNameList" (onFormChanged)="onDetailsChanged($event)"></app-search-params>


<div *ngIf="appDetails == undefined && path != 'incident-management'">
  <app-intro [intro]="intro"></app-intro>
</div>
<div *ngIf="appDetails == undefined && path == 'incident-management'">
  <app-e2e-intro></app-e2e-intro>
</div>


<div *ngIf="appDetails && path !='my-applications' && path !='approvals' && path != 'review' && path != 'incident-management'">
  <div class="row">
    <div class="col-sm-9">
      <h1>{{appName}}</h1>
    </div>

    <div class="row">
      <div class="col-sm-9" style="text-align: right">
      </div>
      <div class="col-sm-2" style="text-align: right">
        <app-export-options [appDetails]="appDetails" [intro]="intro"></app-export-options>
      </div>
      <div class="col-sm-1" style="text-align: right">
      </div>
    </div>
  </div>
  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Introduction">
      <app-intro [intro]="intro"></app-intro>
    </mat-tab>
    <mat-tab label="Application Details">
      <app-app-details [appName]="appName" [appDetails]="appDetails"></app-app-details>
    </mat-tab>
    <mat-tab label="Channel Info">
      <app-channel-info [appName]="appName" [channelInfo]="appDetails.channelInfo"></app-channel-info>
    </mat-tab>
    <mat-tab label="Sync Services">
      <app-sync-services [appName]="appName" [syncServices]="appDetails.syncServices"></app-sync-services>
    </mat-tab>
    <mat-tab label="Async Services">
      <app-async-services [appName]="appName" [asyncServices]="appDetails.asyncServices"></app-async-services>
    </mat-tab>
    <mat-tab label="Batch Services">
      <app-batch-services [appName]="appName" [batchServices]="appDetails.batchServices"></app-batch-services>
    </mat-tab>
    <mat-tab label="Files">
      <app-attachment-files [appDetails]="appDetails"></app-attachment-files>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="appDetails && path =='my-applications'">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{appName}}</h1>
    </div>
    <div *ngIf="isEditAllowed && appDetails.lockedBy == authServ.getUserName()" class="col-sm-1" style="text-align: right">
      <button style="margin-top: 10px; float: right" (click)="reviewMode()" tooltip="Switch view to review mode" placement="top"
        class="btn btn-info active">
        <span class="glyphicon glyphicon-tags"></span> Review</button>

    </div>
    <div *ngIf="isEditAllowed && appDetails.lockedBy == authServ.getUserName()" class="col-sm-2" style="text-align: right">

      <button style="margin-top: 10px; float: right" (click)="removeApp()" tooltip="Delete all changes done on draft" placement="left"
        class="btn btn-danger active">
        <span class="glyphicon glyphicon-remove"></span> Discard Draft</button>
    </div>
    <div *ngIf="!isEditAllowed" class="col-sm-3" style="text-align: right">
    </div>
    <div *ngIf="appDetails.lockedBy == authServ.getUserName()" class="col-sm-1" style="text-align: right">
      <button style="margin-top: 10px; float: right; margin-right: 10px" (click)="unlockApp()" tooltip="Unlock this application for editing"
        placement="top" class="btn btn-primary active">
        <span class="glyphicon glyphicon-lock"></span> Unlock</button>
    </div>
    <div *ngIf="appDetails.lockedBy != authServ.getUserName() && appDetails.approvalStatus != 'SUBMITTED_FOR_APPROVAL'" class="col-sm-1"
      style="text-align: right">
      <button style="margin-top: 10px; float: right; margin-right: 10px" (click)="lockApp()" tooltip="Lock this application for editing"
        placement="top" class="btn btn-primary active">
        <span class="glyphicon glyphicon-lock"></span> Lock</button>
    </div>
    <div *ngIf="appDetails.lockedBy != authServ.getUserName() && appDetails.approvalStatus == 'SUBMITTED_FOR_APPROVAL'" class="col-sm-2"
      style="text-align: right; margin-right: 10px">
      <span class="label label-info">Submitted for Review</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9" style="text-align: right">
    </div>
    <div class="col-sm-2" style="text-align: right">
      <app-export-options [appDetails]="appDetails" [intro]="intro"></app-export-options>
    </div>
    <div class="col-sm-1" style="text-align: right">
    </div>
  </div>
  <mat-tab-group [selectedIndex]="tabNumber">
    <mat-tab label="Introduction">
      <app-intro [intro]="intro"></app-intro>
    </mat-tab>
    <mat-tab label="Application Details">
      <app-app-details [appName]="appName" [appDetails]="appDetails" [isEditAllowed]="isEditAllowed" (onAppChange)="onAppChange($event)"></app-app-details>
    </mat-tab>
    <mat-tab label="Channel Info">
      <app-channel-info [appName]="appName" [customer]="appDetails.airlineName" [channelInfo]="appDetails.channelInfo" [airline]="appDetails.airlineName"
        [isEditAllowed]="isEditAllowed"></app-channel-info>
    </mat-tab>
    <mat-tab label="Sync Services">
      <app-sync-services [appName]="appName" [customer]="appDetails.airlineName" [syncServices]="appDetails.syncServices" [airline]="appDetails.airlineName"
        [isEditAllowed]="isEditAllowed"></app-sync-services>
    </mat-tab>
    <mat-tab label="Async Services">
      <app-async-services [appName]="appName" [customer]="appDetails.airlineName" [asyncServices]="appDetails.asyncServices" [airline]="appDetails.airlineName"
        [isEditAllowed]="isEditAllowed"></app-async-services>
    </mat-tab>
    <mat-tab label="Batch Services">
      <app-batch-services [appName]="appName" [customer]="appDetails.airlineName" [batchServices]="appDetails.batchServices" [airline]="appDetails.airlineName"
        [isEditAllowed]="isEditAllowed"></app-batch-services>
    </mat-tab>
    <mat-tab label="Files">
      <app-attachment-files [appDetails]="appDetails" [isEditAllowed]="isEditAllowed"></app-attachment-files>
    </mat-tab>
    <mat-tab label="Review">
      <app-review [appName]="appName" [customer]="appDetails.airlineName" [appDetails]="appDetails" [isEditAllowed]="isEditAllowed"
        [path]='path' (onFormChanged)="onSubmissionForReview($event)"></app-review>
    </mat-tab>

  </mat-tab-group>
</div>
<div *ngIf="appDetails && path =='approvals'">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{appName}}</h1>
    </div>

    <div class="col-sm-3" style="text-align: right">
      <ui-switch [(ngModel)]="enableDiff" color="#154360" tooltip="Toggle to get differential view" placement="left"></ui-switch>
    </div>
    <div class="col-sm-1" style="text-align: right">
    </div>
  </div>
  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Introduction">
      <app-intro [intro]="intro"></app-intro>
    </mat-tab>
    <mat-tab label="Application Details">
      <app-app-details [appName]="appName" [appDetails]="appDetails" [enableDiff]="enableDiff" [baselinedAppDetails]="latestBaselinedAppDetails"></app-app-details>
    </mat-tab>
    <mat-tab label="Channel Info">
      <app-channel-info *ngIf="latestBaselinedAppDetails" [appName]="appName" [channelInfo]="appDetails.channelInfo" [enableDiff]="enableDiff"
        [baselinedChannelInfo]="latestBaselinedAppDetails.channelInfo"></app-channel-info>
      <app-channel-info *ngIf="!latestBaselinedAppDetails" [appName]="appName" [channelInfo]="appDetails.channelInfo" [enableDiff]="enableDiff"></app-channel-info>
    </mat-tab>
    <mat-tab label="Sync Services">
      <app-sync-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [syncServices]="appDetails.syncServices" [enableDiff]="enableDiff"
        [baselinedSync]="latestBaselinedAppDetails.syncServices"></app-sync-services>
      <app-sync-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [syncServices]="appDetails.syncServices" [enableDiff]="enableDiff"></app-sync-services>

    </mat-tab>
    <mat-tab label="Async Services">
      <app-async-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [asyncServices]="appDetails.asyncServices" [enableDiff]="enableDiff"
        [baselinedAsync]="latestBaselinedAppDetails.asyncServices"></app-async-services>
      <app-async-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [asyncServices]="appDetails.asyncServices" [enableDiff]="enableDiff"></app-async-services>
    </mat-tab>
    <mat-tab label="Batch Services">
      <app-batch-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [batchServices]="appDetails.batchServices" [enableDiff]="enableDiff"
        [baselinedBatch]="latestBaselinedAppDetails.batchServices"></app-batch-services>
      <app-batch-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [batchServices]="appDetails.batchServices" [enableDiff]="enableDiff"></app-batch-services>
    </mat-tab>
    <mat-tab label="Files">
      <app-attachment-files [appDetails]="appDetails"></app-attachment-files>
    </mat-tab>
    <mat-tab label="Review">
      <app-review [appName]="appName" [customer]="appDetails.airlineName" [appDetails]="appDetails" [path]='path'></app-review>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="appDetails && path =='review'">
  <div class="row">
    <div class="col-sm-9">
      <h1>{{appName}}</h1>
    </div>
    <div class="col-sm-1" style="text-align: right">
      <button style="margin-top: 10px; float: right" (click)="returnToEditMode()" tooltip="Switch view to review mode" placement="top"
        class="btn btn-info active">
        <span class="glyphicon glyphicon-chevron-left"></span> Return</button>
    </div>
    <div class="col-sm-1" style="text-align: right">
      <ui-switch [(ngModel)]="enableDiff" color="#154360" tooltip="Toggle to get differential view" placement="top" style="padding-top: 20px"></ui-switch>
    </div>
    <div class="col-sm-1" style="text-align: right">
    </div>
  </div>
  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Introduction">
      <app-intro [intro]="intro"></app-intro>
    </mat-tab>
    <mat-tab label="Application Details">
      <app-app-details [appName]="appName" [appDetails]="appDetails" [enableDiff]="enableDiff" [baselinedAppDetails]="latestBaselinedAppDetails"></app-app-details>
    </mat-tab>
    <mat-tab label="Channel Info">
      <app-channel-info *ngIf="latestBaselinedAppDetails" [appName]="appName" [channelInfo]="appDetails.channelInfo" [enableDiff]="enableDiff"
        [baselinedChannelInfo]="latestBaselinedAppDetails.channelInfo"></app-channel-info>
      <app-channel-info *ngIf="!latestBaselinedAppDetails" [appName]="appName" [channelInfo]="appDetails.channelInfo" [enableDiff]="enableDiff"></app-channel-info>
    </mat-tab>
    <mat-tab label="Sync Services">
      <app-sync-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [syncServices]="appDetails.syncServices" [enableDiff]="enableDiff"
        [baselinedSync]="latestBaselinedAppDetails.syncServices"></app-sync-services>
      <app-sync-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [syncServices]="appDetails.syncServices" [enableDiff]="enableDiff"></app-sync-services>

    </mat-tab>
    <mat-tab label="Async Services">
      <app-async-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [asyncServices]="appDetails.asyncServices" [enableDiff]="enableDiff"
        [baselinedAsync]="latestBaselinedAppDetails.asyncServices"></app-async-services>
      <app-async-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [asyncServices]="appDetails.asyncServices" [enableDiff]="enableDiff"></app-async-services>
    </mat-tab>
    <mat-tab label="Batch Services">
      <app-batch-services *ngIf="latestBaselinedAppDetails" [appName]="appName" [batchServices]="appDetails.batchServices" [enableDiff]="enableDiff"
        [baselinedBatch]="latestBaselinedAppDetails.batchServices"></app-batch-services>
      <app-batch-services *ngIf="!latestBaselinedAppDetails" [appName]="appName" [batchServices]="appDetails.batchServices" [enableDiff]="enableDiff"></app-batch-services>
    </mat-tab>
    <mat-tab label="Files">
      <app-attachment-files [appDetails]="appDetails"></app-attachment-files>
    </mat-tab>
  </mat-tab-group>
</div>


<div *ngIf="appDetails && path == 'incident-management'">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{appName}}</h1>
    </div>
  </div>
  <app-app-details [appName]="appName" [appDetails]="appDetails" [baselinedAppDetails]="latestBaselinedAppDetails"></app-app-details>
</div>