<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="!editModeOn && !enableDiff" class="divPosition" style="background-color: white">
  <div *ngIf="isEditAllowed" style="text-align: right">
    <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit" placement="left" (click)="enableEdit()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
  </div>
  <div class="col-sm-11">
    <table>
      <tr>
        <th class="tableRow1">Application Name</th>
        <td class="tableRow1"> {{appDetails.name}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Airline Name</th>
        <td class="tableRow2"> {{appDetails.airlineName}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Owner</th>
        <td class="tableRow1"> {{appDetails.owner}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Version</th>
        <td class="tableRow2"> {{appDetails.version}} </td>
      </tr>
      <tr>
        <th class="tableRow1">PIT Id</th>
        <td class="tableRow1"> {{appDetails.pitID}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Contacts (Notification)</th>
        <td class="tableRow2"> {{appDetails.contacts_Notification}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Contacts (Incident)</th>
        <td class="tableRow1"> {{appDetails.contacts_Incident}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Instruction For Incidence</th>
        <td class="tableRow2"> {{appDetails.instructionForIncidence}} </td>
      </tr>
      <tr>
        <th class="tableRow1">ZR6 System Approved By</th>
        <td class="tableRow1"> {{appDetails.zr6SystemApprovedBy}} </td>
      </tr>
      <tr>
        <th class="tableRow2">ZR6 System Approved Date</th>
        <td class="tableRow2"> {{appDetails.zr6SystemApprovedDate | date}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Application System Approved By</th>
        <td class="tableRow1"> {{appDetails.applicationSystemApprovedBy}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Application System Approved Date</th>
        <td class="tableRow2"> {{appDetails.applicationSystemApprovedDate | date}} </td>
      </tr>
      <!--
      <tr>
        <th class="tableRow2">Description</th>
        <td class="tableRow2" style="text-align:justify"> 
          <div [innerHtml]="diff(baselinedAppDetails.desc,appDetails.desc)" ></div>  
          <div *ngIf="!baselinedAppDetails" >{{appDetails.desc}}</div> 
        </td>        
      </tr>
      -->
      <tr>
          <th class="tableRow1">Description</th>
          <td class="tableRow1" style="text-align:justify">{{appDetails.desc}}</td>        
        </tr>
      
      <tr>
        <th class="tableRow2">Criticality</th>
        <td class="tableRow2"> {{appDetails.criticality}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Justification for Criticality</th>
        <td class="tableRow1"> {{appDetails.criticalityJustification}} </td>
      </tr>
    </table>
    <br><br>
  </div>
</div>

<div *ngIf="!editModeOn && enableDiff && baselinedAppDetails && appDetails" class="divPosition" style="background-color: white">
  <div *ngIf="isEditAllowed" style="text-align: right">
    <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit" placement="left" (click)="enableEdit()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
  </div>
  <div class="col-sm-11">
    <table>
      <tr>
        <th class="tableRow1">Application Name</th>
        <td class="tableRow1" > 
          <div [innerHtml]="diff(baselinedAppDetails.name,appDetails.name)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Airline Name</th>
        <td class="tableRow2"> 
          <div [innerHtml]="diff(baselinedAppDetails.airlineName,appDetails.airlineName)" ></div> 
        </td>        
      </tr>
      <tr>
        <th class="tableRow1">Owner</th>
        <td class="tableRow1" style="text-align:justify"> 
          <div [innerHtml]="diff(baselinedAppDetails.owner,appDetails.owner)" ></div>   
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Version</th>
        <td class="tableRow2" > 
          <div [innerHtml]="diff(baselinedAppDetails.version,appDetails.version)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow1">PIT Id</th>
        <td class="tableRow1"> 
          <div [innerHtml]="diff(baselinedAppDetails.pitID,appDetails.pitID)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Contacts (Notification)</th>
        <td class="tableRow2"> 
          <div [innerHtml]="diff(baselinedAppDetails.contacts_Notification,appDetails.contacts_Notification)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow1">Contacts (Incident)</th>
        <td class="tableRow1"> 
          <div [innerHtml]="diff(baselinedAppDetails.contacts_Incident,appDetails.contacts_Incident)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Instruction For Incidence</th>
        <td class="tableRow2"> 
          <div [innerHtml]="diff(baselinedAppDetails.instructionForIncidence,appDetails.instructionForIncidence)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow1">ZR6 System Approved By</th>
        <td class="tableRow1" style="text-align:justify"> 
          <div [innerHtml]="diff(baselinedAppDetails.zr6SystemApprovedBy,appDetails.zr6SystemApprovedBy)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">ZR6 System Approved Date</th>
        <td class="tableRow2"> {{appDetails.zr6SystemApprovedDate | date}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Application System Approved By</th>
        <td class="tableRow1"> 
          <div [innerHtml]="diff(baselinedAppDetails.applicationSystemApprovedBy,appDetails.applicationSystemApprovedBy)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Application System Approved Date</th>
        <td class="tableRow2"> {{appDetails.applicationSystemApprovedDate | date}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Description</th>
        <td class="tableRow1"  style="text-align:justify"> 
          <div [innerHtml]="diff(baselinedAppDetails.desc,appDetails.desc)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow2">Criticality</th>
        <td class="tableRow2"> 
          <div [innerHtml]="diff(baselinedAppDetails.criticality,appDetails.criticality)" ></div>  
        </td>        
      </tr>
      <tr>
        <th class="tableRow1">Justification for Criticality</th>
        <td class="tableRow1"> 
          <div [innerHtml]="diff(baselinedAppDetails.criticalityJustification,appDetails.criticalityJustification)" ></div>  
        </td>        
      </tr>

    </table>
    <br><br>
  </div>
</div>

<div *ngIf="editModeOn" class="divPosition">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-9 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="appDetails.name" #name="ngModel" required />
          <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !airlineName.valid }">
          <label for="airlineName">Carrier</label>
          <select class="form-control" name="airlineName" [(ngModel)]="appDetails.airlineName" #airlineName="ngModel">
          <option value="LH" [selected]="appDetails.airlineName == 'LH'">Lufthansa</option>
          <option value="SN" [selected]="appDetails.airlineName == 'SN'">Brussels Airlines</option>
          <option value="OS" [selected]="appDetails.airlineName == 'OS'">Austrian Airlines</option>
          <option value="LX" [selected]="appDetails.airlineName == 'LX'">Swiss International Airlines</option>
          <option value="1A" [selected]="appDetails.airlineName == '1A'">1A - Amadeus</option>
       </select>
          <!--
        <input type="text" class="form-control" name="airlineName" [(ngModel)]="appDetails.airlineName" #airlineName="ngModel" required
        />
       -->
          <div *ngIf="f.submitted && !airlineName.valid" class="help-block">Airline Name is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !owner.valid }">
          <label for="owner">Owner</label>
          <input type="text" class="form-control" name="owner" [(ngModel)]="appDetails.owner" #owner="ngModel" required />
          <div *ngIf="f.submitted && !owner.valid" class="help-block">Owner is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !version.valid }">
          <label for="version">Version</label>
          <input type="text" tooltip="Format is 'X.X.X' where X is a number" (change)="checkNum()" maxlength="5" class="form-control" name="version" 
              [(ngModel)]="appDetails.version" #version="ngModel" disabled />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !contactsNotification.valid }">
          <label for="contactsNotification">Contacts (Notification)</label>
          <input type="text" tooltip="Please enter email for the responsible group, and not individuals" class="form-control" name="contactsNotification" [(ngModel)]="appDetails.contacts_Notification" #contactsNotification="ngModel"
          />
          <div *ngIf="f.submitted && !contactsNotification.valid" class="help-block">Contacts (Notification) is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !contactsIncident.valid }">
          <label for="contactsIncident">Contacts (Incident)</label>
          <input type="text"tooltip="Please enter email for the responsible group, and not individuals"  class="form-control" name="contactsIncident" [(ngModel)]="appDetails.contacts_Incident" #contactsIncident="ngModel"
          />
          <div *ngIf="f.submitted && !contactsIncident.valid" class="help-block">Contacts (Incident) is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12" [ngClass]="{ 'has-error': f.submitted && !instructionForIncidence.valid }">
          <label for="instructionForIncidence">Instruction for Incidence</label>
          <textarea class="form-control" name="instructionForIncidence" [(ngModel)]="appDetails.instructionForIncidence" #instructionForIncidence="ngModel"
            required></textarea>
          <!--<input type="text" class="form-control" name="desc" [(ngModel)]="appDetails.desc" #desc="ngModel" required />-->
          <div *ngIf="f.submitted && !instructionForIncidence.valid" class="help-block">Instruction for Incidence is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !zr6SystemApprovedBy.valid }">
          <label for="zr6SystemApprovedBy">ZR6 System Approved By</label>
          <input type="text" class="form-control" name="zr6SystemApprovedBy" [(ngModel)]="appDetails.zr6SystemApprovedBy" #zr6SystemApprovedBy="ngModel"
          />
          <div *ngIf="f.submitted && !zr6SystemApprovedBy.valid" class="help-block">'ZR6 System Approved By' is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !applicationSystemApprovedBy.valid }">
          <label for="applicationSystemApprovedBy">Application System Approved By</label>
          <input type="text" class="form-control" name="applicationSystemApprovedBy" [(ngModel)]="appDetails.applicationSystemApprovedBy"
            #applicationSystemApprovedBy="ngModel" required />
          <div *ngIf="f.submitted && !applicationSystemApprovedBy.valid" class="help-block">'Application System Approved By' is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !zr6SystemApprovedDate.valid }">
          <label for="zr6SystemApprovedDate">ZR6 System Approved Date</label>
          <input type="date" class="form-control" name="zr6SystemApprovedDate" [(ngModel)]="appDetails.zr6SystemApprovedDate" #zr6SystemApprovedDate="ngModel"
          />
          <div *ngIf="f.submitted && !zr6SystemApprovedDate.valid" class="help-block">'ZR6 System Approved Date' is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !applicationSystemApprovedDate.valid }">
          <label for="applicationSystemApprovedDate">Application System Approved Date</label>
          <input type="date" class="form-control" name="applicationSystemApprovedDate" [(ngModel)]="appDetails.applicationSystemApprovedDate"
            #applicationSystemApprovedDate="ngModel" required />
          <div *ngIf="f.submitted && !applicationSystemApprovedDate.valid" class="help-block">'Application System Approved Date' is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticality.valid }">
          <label for="criticality">Criticality</label>
          <select class="form-control" name="criticality" [(ngModel)]="appDetails.criticality" #criticality="ngModel">
          <option value="Low" [selected]="appDetails.criticality == 'Low'">Low</option>
          <option value="Medium" [selected]="appDetails.criticality == 'Medium'">Medium</option>
          <option value="High" [selected]="appDetails.criticality == 'High'">High</option>
          <option value="Very High" [selected]="appDetails.criticality == 'Very High'">Very High</option>
       </select>
          <!--
        <input type="text" class="form-control" name="criticality" [(ngModel)]="appDetails.criticality" #criticality="ngModel" required />
       -->
          <div *ngIf="f.submitted && !criticality.valid" class="help-block">Criticality is required</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticalityJustification.valid }">
          <label for="criticalityJustification">Justification for Criticality</label>
          <textarea class="form-control" name="criticalityJustification" [(ngModel)]="appDetails.criticalityJustification" #criticalityJustification="ngModel"
            required></textarea>
          <!--<input type="text" class="form-control" name="criticalityJustification" [(ngModel)]="appDetails.criticalityJustification" #criticalityJustification="ngModel" required />-->
          <div *ngIf="f.submitted && !criticalityJustification.valid" class="help-block">Justification for Criticality is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !pitID.valid }">
          <label for="pitID">PIT Id</label>
          <input type="text" class="form-control" name="pitID" [(ngModel)]="appDetails.pitID" #pitID="ngModel" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12" [ngClass]="{ 'has-error': f.submitted && !desc.valid }">
          <label for="desc">Description</label>
          <textarea class="form-control" name="desc" [(ngModel)]="appDetails.desc" #desc="ngModel" required></textarea>
          <!--<input type="text" class="form-control" name="desc" [(ngModel)]="appDetails.desc" #desc="ngModel" required />-->
          <div *ngIf="f.submitted && !desc.valid" class="help-block">Description is required</div>
        </div>
      </div>
      
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="onSave()"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      <button type="button" class="btn btn-info" (click)="onDiscard()"><span class="glyphicon glyphicon-floppy-remove"></span> Discard</button>
    </div>
  </form>

</div>