<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="col-sm-3" ></div>
<div class="container col-sm-6 well well-sm" >
  <button id="dismissModal" type="button" class="close" data-dismiss="modal">&times;</button> 
  <h2>Create SIA</h2>
  <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
    <div class="form-group" class="form-group col-sm-6">
      <label>Application Name</label>
      <input type="text" class="form-control" name="appName" required [(ngModel)]="appName" pattern="^[\w_-]+( +[\w_-]+)*$" tooltip="Only letters, numbers, underscores and hyphen" />
    </div>
    <div class="form-group" class="form-group col-sm-6" *ngIf="showCarrierOption">
      <label>Customer</label>
      
      <select name="customer" class="form-control" id="customer" required [(ngModel)]="customer">
          <option ></option>
          <option *ngFor="let name of airlineList" [ngValue]="name.name" >{{name.displayName}}</option>
      </select>
    </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="f.form.invalid" (click)="onSubmit()" data-dismiss="modal">Create</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </form>

</div>