<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="!editModeOn && !enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="batchServices && batchServices.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addBatch()"><span class="glyphicon glyphicon-plus"></span> Add New Batch Service</button>
    </div>
    <h2>No Batch Services available</h2>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="batchServices && batchServices.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addBatch()"><span class="glyphicon glyphicon-plus"></span> Add New Batch Service</button>
    </div>
    <accordion>
      <accordion-group #group *ngFor="let batchServ of batchServices" [panelClass]="panel-default">
        <div accordion-heading>
          {{batchServ.serviceName}}
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active " tooltip="Edit this service" placement="top" (click)="enableEdit(batchServ)"><span class="glyphicon glyphicon-edit"></span></button>&nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(batchServ)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <table class="tableBorder">
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1"> {{batchServ.serviceName}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Version</th>
              <td class="tableRow2"> {{batchServ.version}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Application Role</th>
              <td class="tableRow1" *ngIf="batchServ.appRole == 'Consumer'"> Downloads from ZR6 </td>
              <td class="tableRow1" *ngIf="batchServ.appRole == 'Producer'"> Uploads to ZR6 </td>
              <td class="tableRow1" *ngIf="batchServ.appRole == undefined"></td>
            </tr>
            <tr>
              <th class="tableRow2">Connection Initiated By</th>
              <td class="tableRow2"> {{batchServ.connectionInitiatedBy}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Comments</th>
              <td class="tableRow1"> {{batchServ.comments}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Purpose Of Usage</th>
              <td class="tableRow2"> {{batchServ.purposeOfUsage}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Criticality</th>
              <td class="tableRow1"> {{batchServ.criticality}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Justification of Criticality</th>
              <td class="tableRow2"> {{batchServ.criticalityJustification}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Workaround</th>
              <td class="tableRow1"> {{batchServ.workaround}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Protocol Used</th>
              <td class="tableRow2"> {{batchServ.protocolUsed}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Data Worth Protection</th>
              <td class="tableRow1"> {{batchServ.dataWorthProtection}} </td>
            </tr>
          </table>
          <table>
            <caption>
              <h4>File Details</h4>
            </caption>
            <tr>
              <th class="tableRow1">IP Address &amp; Port</th>
              <td class="tableRow1"> {{batchServ.ipAddPort}} </td>
            </tr>
            <tr>
              <th class="tableRow2">File Retention on ZR6 [in Days]</th>
              <td class="tableRow2"> {{batchServ.fileRetentionZR6}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Filename Pattern on ZR6</th>
              <td class="tableRow1"> {{batchServ.filenamePatternZR6}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Filename Location on ZR6</th>
              <td class="tableRow2"> {{batchServ.filenameLocationZR6}} </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow1">Filename Pattern on Application</th>
              <td class="tableRow1"> {{batchServ.filenamePatternApp}} </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow2">Filename Location Application</th>
              <td class="tableRow2"> {{batchServ.filenameLocationApp}} </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow1">File Transfer Direction</th>
              <td class="tableRow1"> {{batchServ.fileTransferDirection}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Internet Access</th>
              <td class="tableRow2"> {{batchServ.internetAccess}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean File Size</th>
              <td class="tableRow1"> {{batchServ.meanFileSize}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Maximum File Size</th>
              <td class="tableRow2"> {{batchServ.maxFileSize}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Files Transfered Per Month</th>
              <td class="tableRow1"> {{batchServ.meanFileTransferPerMonth}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Maximum Files Transfered Per Month</th>
              <td class="tableRow2"> {{batchServ.maxFileTransferPerMonth}} </td>
            </tr>
            <tr>
              <th class="tableRow1">FTP Transfer Distribution</th>
              <td class="tableRow1"> {{batchServ.ftpTransferDist}} </td>
            </tr>

          </table>
          <br><br>
        </div>
      </accordion-group>
    </accordion>
    <br><br>
  </div>
</div>

<div *ngIf="!editModeOn && enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="diffBatch && diffBatch.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addBatch()"><span class="glyphicon glyphicon-plus"></span> Add New Batch Service</button>
    </div>
    <h2>No Batch Services available</h2>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="diffBatch && diffBatch.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addBatch()"><span class="glyphicon glyphicon-plus"></span> Add New Batch Service</button>
    </div>
    <accordion>
      <accordion-group #group *ngFor="let batchServ of diffBatch" [panelClass]="panel-default">
        <div accordion-heading>
          <span [innerHtml]="batchServ.title"></span>
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active " tooltip="Edit this service" placement="top" (click)="enableEdit(batchServ)"><span class="glyphicon glyphicon-edit"></span></button>&nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(batchServ)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <table class="tableBorder">
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1">
                <div [innerHtml]="batchServ.serviceName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Version</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.version"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Application Role</th>
              <td class="tableRow1"  >
                <div [innerHtml]="batchServ.appRole"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Connection Initiated By</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.connectionInitiatedBy"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Comments</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.comments"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Purpose Of Usage</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.purposeOfUsage"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Criticality</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.criticality"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Justification of Criticality</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.criticalityJustification"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Workaround</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.workaround"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Protocol Used</th>
              <td class="tableRow2">
                <div [innerHtml]="batchServ.protocolUsed"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Data Worth Protection</th>
              <td class="tableRow1">
                <div [innerHtml]="batchServ.dataWorthProtection"></div>
              </td>
            </tr>
          </table>
          <table>
            <caption>
              <h4>File Details</h4>
            </caption>
            <tr>
              <th class="tableRow1">IP Address &amp; Port</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.ipAddPort"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">File Retention on ZR6 [in Days]</th>
              <td class="tableRow2">
                <div [innerHtml]="batchServ.fileRetentionZR6"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Filename Pattern on ZR6</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.filenamePatternZR6"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Filename Location on ZR6</th>
              <td class="tableRow2">
                <div [innerHtml]="batchServ.filenameLocationZR6"></div>
              </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow1">Filename Pattern on Application</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.filenamePatternApp"></div>
              </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow2">Filename Location Application</th>
              <td class="tableRow2">
                <div [innerHtml]="batchServ.filenameLocationApp"></div>
              </td>
            </tr>
            <tr *ngIf="batchServ.appRole == 'Consumer'">
              <th class="tableRow1">File Transfer Direction</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.fileTransferDirection"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Internet Access</th>
              <td class="tableRow2">
                <div [innerHtml]="batchServ.internetAccess"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean File Size</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.meanFileSize"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Maximum File Size</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.maxFileSize"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Files Transfered Per Month</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.meanFileTransferPerMonth"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Maximum Files Transfered Per Month</th>
              <td class="tableRow2"> 
                <div [innerHtml]="batchServ.maxFileTransferPerMonth"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">FTP Transfer Distribution</th>
              <td class="tableRow1"> 
                <div [innerHtml]="batchServ.ftpTransferDist"></div>
              </td>
            </tr>

          </table>
          <br><br>
        </div>
      </accordion-group>
    </accordion>
    <br><br>
  </div>
</div>

<div *ngIf="editModeOn" class="divPosition">
  <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" validate>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">

      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !serviceName.valid }">
          <label for="serviceName">Service Name</label>
          <input type="text" class="form-control" name="serviceName" [(ngModel)]="batchServ.serviceName" #serviceName="ngModel" required
          pattern="^[-\w ()_-]+$" />
          <div *ngIf="f.submitted && !serviceName.valid" class="help-block">Service Name is not valid</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !version.valid }">
          <label for="version">Version</label>
          <input type="text" class="form-control" name="version" [(ngModel)]="batchServ.version" #version="ngModel"  />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !connectionInitiatedBy.valid }">
          <label for="connectionInitiatedBy">Connection Initiated By</label>
          <input type="text" class="form-control" name="connectionInitiatedBy" [(ngModel)]="batchServ.connectionInitiatedBy" #connectionInitiatedBy="ngModel"
             />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !appRole.valid }">
          <label for="appRole">Application Role</label>
          <select class="form-control" name="appRole" [(ngModel)]="batchServ.appRole" #appRole="ngModel">
              <option value="Consumer" [selected]="batchServ.appRole == 'Consumer'">Downloads from ZR6</option>
              <option value="Producer" [selected]="batchServ.appRole == 'Producer'">Uploads to ZR6</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !comments.valid }">
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comments" [(ngModel)]="batchServ.comments" #comments="ngModel" ></textarea>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !purposeOfUsage.valid }">
          <label for="purposeOfUsage">Purpose of Usage</label>
          <textarea class="form-control" name="purposeOfUsage" [(ngModel)]="batchServ.purposeOfUsage" #purposeOfUsage="ngModel" ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticality.valid }">
          <label for="criticality">Criticality</label>
          <select class="form-control" name="criticality" [(ngModel)]="batchServ.criticality" #criticality="ngModel">
              <option value="Low" [selected]="batchServ.criticality == 'Low'">Low</option>
              <option value="Medium" [selected]="batchServ.criticality == 'Medium'">Medium</option>
              <option value="High" [selected]="batchServ.criticality == 'High'">High</option>
              <option value="Very High" [selected]="batchServ.criticality == 'Very High'">Very High</option>
           </select>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticalityJustification.valid }">
          <label for="criticalityJustification">Justification of Criticality</label>
          <textarea class="form-control" name="criticalityJustification" [(ngModel)]="batchServ.criticalityJustification" #criticalityJustification="ngModel"
            ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !workaround.valid }">
          <label for="workaround">Workaround</label>
          <input type="text" class="form-control" name="workaround" [(ngModel)]="batchServ.workaround" #workaround="ngModel" 
          />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !dataWorthProtection.valid }">
          <label for="dataWorthProtection">Data Worth Protection</label>
          <select class="form-control" name="dataWorthProtection" [(ngModel)]="batchServ.dataWorthProtection" #dataWorthProtection="ngModel">
              <option value="PCI" [selected]="batchServ.dataWorthProtection == 'PCI'">PCI</option>
              <option value="No" [selected]="batchServ.dataWorthProtection == 'No'">No</option>
              <option value="Other" [selected]="batchServ.dataWorthProtection == 'Other'">Other</option>
           </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="protocolUsed">Protocol Used</label>
          <input type="text" class="form-control" name="protocolUsed" [(ngModel)]="batchServ.protocolUsed" #protocolUsed="ngModel"
            value="SFTP" disabled="disabled" />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h4>File Details</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">

      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !ipAddPort.valid }">
          <label for="ipAddPort">IP Address &amp; Port</label>
          <input type="text" class="form-control" name="ipAddPort" [(ngModel)]="batchServ.ipAddPort" #ipAddPort="ngModel" 
          />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !fileRetentionZR6.valid }">
          <label for="fileRetentionZR6">File Retention on ZR6 [in Days]</label>
          <input type="number" [min]="0" [max]="10" class="form-control" name="fileRetentionZR6" [(ngModel)]="batchServ.fileRetentionZR6" #fileRetentionZR6="ngModel"
            />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !filenamePatternZR6.valid }">
          <label for="filenamePatternZR6">Filename Pattern on ZR6</label>
          <input type="text" class="form-control" name="filenamePatternZR6" [(ngModel)]="batchServ.filenamePatternZR6" #filenamePatternZR6="ngModel"
             />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !filenameLocationZR6.valid }">
          <label for="filenameLocationZR6">Filename Location on ZR6</label>
          <input type="text" class="form-control" name="filenameLocationZR6" [(ngModel)]="batchServ.filenameLocationZR6" #filenameLocationZR6="ngModel"
             />
        </div>
      </div>
      <div class="row" *ngIf="batchServ.appRole == 'Consumer'">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !filenamePatternApp.valid }">
          <label for="filenamePatternApp">Filename Pattern on Application</label>
          <input type="text" class="form-control" name="filenamePatternApp" [(ngModel)]="batchServ.filenamePatternApp" #filenamePatternApp="ngModel"
             />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !filenameLocationApp.valid }">
          <label for="filenameLocationApp">Filename Location Application</label>
          <input type="text" class="form-control" name="filenameLocationApp" [(ngModel)]="batchServ.filenameLocationApp" #filenameLocationApp="ngModel"
             />
        </div>
      </div>
      <div class="row">
        
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !internetAccess.valid }">
          <label for="internetAccess">Internet Access</label>          
          <select class="form-control" name="internetAccess" [(ngModel)]="batchServ.internetAccess" #internetAccess="ngModel">
                <option value="true" [selected]="batchServ.internetAccess == 'true'">Yes</option>
                <option value="false" [selected]="batchServ.internetAccess == 'false'">No</option>
          </select>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !fileTransferDirection.valid }" *ngIf="batchServ.appRole == 'Consumer'">
          <label for="fileTransferDirection">File Transfer Direction</label>
          <input type="text" class="form-control" name="fileTransferDirection" [(ngModel)]="batchServ.fileTransferDirection" #fileTransferDirection="ngModel"
             />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanFileSize.valid }">
          <label for="meanFileSize">Mean File Size</label>
          <input type="text" class="form-control" name="meanFileSize" [(ngModel)]="batchServ.meanFileSize" #meanFileSize="ngModel"
             />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !maxFileSize.valid }">
          <label for="maxFileSize">Maximum File Size</label>
          <input type="text" class="form-control" name="maxFileSize" [(ngModel)]="batchServ.maxFileSize" #maxFileSize="ngModel" 
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanFileTransferPerMonth.valid }">
          <label for="meanFileTransferPerMonth">Mean Files Transfered Per Month</label>
          <input type="text" class="form-control" name="meanFileTransferPerMonth" [(ngModel)]="batchServ.meanFileTransferPerMonth"
            #meanFileTransferPerMonth="ngModel"  />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !maxFileTransferPerMonth.valid }">
          <label for="maxFileTransferPerMonth">Maximum Files Transfered Per Month</label>
          <input type="text" class="form-control" name="maxFileTransferPerMonth" [(ngModel)]="batchServ.maxFileTransferPerMonth" #maxFileTransferPerMonth="ngModel"
             />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !ftpTransferDist.valid }">
          <label for="ftpTransferDist">FTP Transfer Distribution</label>
          <input type="text" class="form-control" name="ftpTransferDist" [(ngModel)]="batchServ.ftpTransferDist" #ftpTransferDist="ngModel"
             />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" (click)="setSaveType('save')"><span class="glyphicon glyphicon-floppy-save" ></span> Save Draft</button>
      <button type="submit" class="btn btn-primary" (click)="setSaveType('saveAndClose')" ><span class="glyphicon glyphicon-floppy-save"></span> Save Draft and Close</button>
      <button type="button" class="btn btn-info" (click)="onDiscard()"><span class="glyphicon glyphicon-floppy-remove"></span> Discard</button>
    </div>
  </form>
</div>