<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<h1>
  <small class="text-info">Batch Service Catalogue</small>
</h1>
<hr>
<div *ngIf="authServ.getUserCarrier() == '1A'" style="margin-bottom: 20px; margin-left: 20px">
  <div class="row">
    <h4>Batch CSV File</h4>
    <input type="file" ng2FileSelect [uploader]="uploader" accept=".csv" (change)="fileChanged($event)" />
    <div *ngFor="let item of uploader.queue; let i = index">
      <button *ngIf="i==(uploader.queue.length-1)" type="button" class="btn btn-success btn-xs" (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
    <span class="glyphicon glyphicon-upload"></span> Upload
    </button></div>    
  </div>
</div>
<hr>
<div>
  <table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="100"
    (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
    <thead>
      <tr>
        <th style="width: 5px" *ngIf="authServ.getUserCarrier() == '1A'">
          <mfRowSelectorHead></mfRowSelectorHead>
        </th>
        <th>
          <div style="width: 150px">
            <input type="text" class="form-control" name="productType" required [(ngModel)]="productType" (ngModelChange)="filter()"
            />
          </div>
          <mfDefaultSorter by="productType">Product Type</mfDefaultSorter>
          <br>
        </th>
        <th>
          <mfDefaultSorter by="scheduledDate">Scheduled Date</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="scheduledTime">Scheduled Time</mfDefaultSorter>
        </th>
        <th style="width: 400px">
          <mfDefaultSorter by="fileName">File Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="timezone">Timezone</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="frequency">Frequency</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="direction">Direction</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="type">Type</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="dependency">Dependency</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="source">Source</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="irSeverity">IR Severity</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="tolerance">Tolerance</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="notes">Notes</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="logToMonitor">Log To Monitor</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="inputFolder">Input Folder</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="outputFolder">OutputFolder</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="moveToStore">Move to Store</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="autoResend">Auto Resend</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data; let ndx = index">
        <td *ngIf="authServ.getUserCarrier() == '1A'">
          <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
        </td>
        <td>{{item.productType}}</td>
        <td>{{item.scheduledDate}}</td>
        <td>{{item.scheduledTime}}</td>
        <td>
          <div [innerHtml]="item.fileName"></div>
        </td>
        <td>{{item.timezone}}</td>
        <td>{{item.frequency}}</td>
        <td>{{item.direction}}</td>
        <td>{{item.type}}</td>
        <td>{{item.dependency}}</td>
        <td>{{item.source}}</td>
        <td>{{item.irSeverity}}</td>
        <td>{{item.tolerance}}</td>
        <td>{{item.notes}}</td>
        <td>{{item.logToMonitor}}</td>
        <td>{{item.inputFolder}}</td>
        <td>{{item.outputFolder}}</td>
        <td>{{item.moveToStore}}</td>
        <td>{{item.autoResend}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
        </td>
      </tr>
      <tr *ngIf="authServ.getUserCarrier() == '1A'">
          <td colspan="5" style="float: right">
            <button type="button" class="btn btn-primary" style="align-self: center" [disabled]="data.length == 0" (click)="submitSelectedFields()">Delete</button>
          </td>
        </tr>
    </tfoot>
  </table>
</div>