<nav class="navbar navbar-default navbar-fixed-top" *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ssdNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>

      <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <img src="assets/img/Logo - Negative - RGB.png">
      </div>
    </div>
    <div class="navbar-collapse collapse" id="ssdNavbar">

      <ul class="nav navbar-nav navbar-left">
        <li>
          <h4 class="navbar-text"><strong>System Interface Agreement</strong></h4>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
        <li>
          <p class="navbar-text">Welcome, <strong>{{getUsername()}}</strong></p>
        </li>
        <li><button type="button" class="btn btn-link navbar-btn" (click)="logout()"><span class="glyphicon glyphicon-off"></span> <strong>Logout </strong></button></li>
      </ul>

    </div>
  </div>
</nav>