<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<br>
<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
  <thead>
    <tr>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filter()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsInstance">Deployed In Instance</mfDefaultSorter>
        </div>
      </th>
      <th>
        <!--
        <div style="width: 150px">
          <input type="text" class="form-control" name="sourceDestinationName" required [(ngModel)]="sourceDestinationName" (ngModelChange)="filter()"
          />
        </div >
      -->
        <div style="color : #00a3cc">
          Topic Name
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="durableName" required [(ngModel)]="durableName" (ngModelChange)="filter()"
          />
        </div >
        <div>
          <mfDefaultSorter by="durableName">Durable Name</mfDefaultSorter>
        </div>
      </th>      
      <th>
        <div style="color : #00a3cc">Durable Properties</div>
      </th>
      <th>
        <mfDefaultSorter by="crNumber">CR Number</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crDesc">CR Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="trNumber">TR Number</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>{{item.emsInstance}}</td>
      <td> <div *ngIf="item.destination">{{item.destination.emsDestinationName}}</div></td>
      <td>{{item.durableName}}</td>
      <td>{{item.durableProperties}}</td>
      <td>{{item.crNumber}}</td>
      <td>{{item.crDesc}}</td>
      <td>{{item.trNumber}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr *ngIf="appName">
      <td colspan="5" style="float: right">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="submitSelectedFields()">Add</button>
      </td>
    </tr>
  </tfoot>
</table>