<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<br>
<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
  <thead>
    <tr>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filter()"
          />
        </div>
        <div style="color : #00a3cc; width: 180px">
          Deployed In Instance
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationName" required [(ngModel)]="destinationName" (ngModelChange)="filter()"
          />
        </div>
        <div style="color : #00a3cc">
          Destination Name
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationType" required [(ngModel)]="destinationType" (ngModelChange)="filter()"
          />
        </div>
        <div style="color : #00a3cc; width: 180px">
          Destination Type
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsTechnicalUser" required [(ngModel)]="emsTechnicalUser" (ngModelChange)="filter()"
          />
        </div>
        <mfDefaultSorter by="emsTechnicalUser">
          EMS Technical User
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="permission">
          Permission
        </mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>{{item.destination.emsInstance}}</td>
      <td>{{item.destination.emsDestinationName}}</td>
      <td>{{item.destination.emsDestinationType}}</td>
      <td>{{item.emsTechnicalUser}}</td>
      <td>{{item.permission}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr *ngIf="appName">
      <td colspan="5" style="float: right">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="submitSelectedFields()">Add</button>
      </td>
    </tr>
  </tfoot>
</table>