<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- Regular View -->
<div *ngIf="!editModeOn && !enableDiff" class="divPosition" style="background-color: white">
  <div *ngIf="isEditAllowed" style="text-align: right">
    <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit" placement="left" (click)="enableEdit()">
      <span class="glyphicon glyphicon-edit"></span> Edit</button>
  </div>
  <div class="col-sm-11" *ngIf="channelInfo">
    <table  style="width: 700px">
      <caption >
        <h4>Altéa services</h4>
      </caption>
      <tr>
        <th class="tableRow1">Mean Sessions Opened Per Day</th>
        <td class="tableRow1"> {{channelInfo.meanSessionsOpenedPerDay}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Peak Sessions Opened Per Day</th>
        <td class="tableRow2"> {{channelInfo.peakSessionsOpenedPerDay}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Mean Sessions Opened Per Second</th>
        <td class="tableRow1"> {{channelInfo.meanSessionsOpenedPerSecond}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Peak Sessions Opened Per Second</th>
        <td class="tableRow2"> {{channelInfo.peakSessionsOpenedPerSecond}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Session Usage Distribution</th>
        <td class="tableRow1"> {{channelInfo.sessionUsageDistribution}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Mean Concurrent Sessions Open</th>
        <td class="tableRow2"> {{channelInfo.meanConcurrentSessionsOpen}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Peak Concurrent Sessions Open</th>
        <td class="tableRow1"> {{channelInfo.peakConcurrentSessionsOpen}} </td>
      </tr>
    </table>
    <br>
    <table style="width: 700px">
      <caption>
        <h4>Common configuration parameters</h4>
      </caption>
      <tr>
        <th class="tableRow1">Application ID</th>
        <td class="tableRow1"> {{channelInfo.applicationId}} </td>
      </tr>
      <tr>
        <th class="tableRow2">Customer ID</th>
        <td class="tableRow2"> {{channelInfo.customerId}} </td>
      </tr>
    </table>
    <br>
    <table style="width: 700px">
      <caption>
        <h4>Synchronous Channel</h4>
      </caption>
      <tr>
        <th class="tableRow2">Caller ID Pattern</th>
        <td class="tableRow2"> {{channelInfo.callerIdPattern}} </td>
      </tr>
      <tr>
        <th class="tableRow1">Capi Core Version</th>
        <td class="tableRow1"> {{channelInfo.capiVersion}} </td>
      </tr>
    </table>
    <br>
    <table style="width: 700px">
      <caption >
        <h4>Synchronous channel blacklisting</h4>
      </caption>
      <tr>
        <th class="tableRow1">Level</th>
        <th class="tableRow1">Volume Control</th>
      </tr>
      <tr>
        <td class="tableRow2"> {{channelInfo.blacklistingLevel}} </td>
        <td class="tableRow2"> {{getVolumeControlValue(channelInfo.blacklistingLevel)}} </td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</div>

<!-- Diff View for Approvals -->
<div *ngIf="!editModeOn && enableDiff" class="divPosition" style="background-color: white">
    <div *ngIf="isEditAllowed" style="text-align: right">
      <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit" placement="left" (click)="enableEdit()">
        <span class="glyphicon glyphicon-edit"></span> Edit</button>
    </div>
    <div class="col-sm-11" *ngIf="channelInfo">
      <table  style="width: 700px">
        <caption >
          <h4>Altéa services</h4>
        </caption>
        <tr>
          <th class="tableRow1">Mean Sessions Opened Per Day</th>
          <td class="tableRow1">
              <div [innerHtml]="diff(baselinedChannelInfo.meanSessionsOpenedPerDay,channelInfo.meanSessionsOpenedPerDay)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow2">Peak Sessions Opened Per Day</th>
          <td class="tableRow2"> 
              <div [innerHtml]="diff(baselinedChannelInfo.peakSessionsOpenedPerDay,channelInfo.peakSessionsOpenedPerDay)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow1">Mean Sessions Opened Per Second</th>
          <td class="tableRow1">
              <div [innerHtml]="diff(baselinedChannelInfo.meanSessionsOpenedPerSecond,channelInfo.meanSessionsOpenedPerSecond)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow2">Peak Sessions Opened Per Second</th>
          <td class="tableRow2"> 
              <div [innerHtml]="diff(baselinedChannelInfo.peakSessionsOpenedPerSecond,channelInfo.peakSessionsOpenedPerSecond)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow1">Session Usage Distribution</th>
          <td class="tableRow1"> 
              <div [innerHtml]="diff(baselinedChannelInfo.sessionUsageDistribution,channelInfo.sessionUsageDistribution)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow2">Mean Concurrent Sessions Open</th>
          <td class="tableRow2"> 
              <div [innerHtml]="diff(baselinedChannelInfo.meanConcurrentSessionsOpen,channelInfo.meanConcurrentSessionsOpen)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow1">Peak Concurrent Sessions Open</th>
          <td class="tableRow1">
              <div [innerHtml]="diff(baselinedChannelInfo.peakConcurrentSessionsOpen,channelInfo.peakConcurrentSessionsOpen)" ></div> 
          </td>
        </tr>
      </table>
      <br>
      <table  style="width: 700px">
        <caption >
          <h4>Common configuration parameters</h4>
        </caption>
        <tr>
          <th class="tableRow1">Application ID</th>
          <td class="tableRow1">
              <div [innerHtml]="diff(baselinedChannelInfo.applicationId,channelInfo.applicationId)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow2">Customer ID</th>
          <td class="tableRow2">
              <div [innerHtml]="diff(baselinedChannelInfo.customerId,channelInfo.customerId)" ></div> 
          </td>
        </tr>
      </table>
      <br>
      <table  style="width: 700px">
        <caption >
          <h4>Synchronous Channel</h4>
        </caption>
        <tr>
          <th class="tableRow2">Caller ID Pattern</th>
          <td class="tableRow2"> 
              <div [innerHtml]="diff(baselinedChannelInfo.callerIdPattern,channelInfo.callerIdPattern)" ></div> 
          </td>
        </tr>
        <tr>
          <th class="tableRow1">Capi Core Version</th>
          <td class="tableRow1">  
              <div [innerHtml]="diff(baselinedChannelInfo.capiVersion,channelInfo.capiVersion)" ></div> 
          </td>
        </tr>
      </table>
      <br>
      <table style="width: 700px">
        <caption >
          <h4>Synchronous channel blacklisting</h4>
        </caption>
        <tr>
          <th class="tableRow1">Level</th>
          <th class="tableRow1">Volume Control</th>
        </tr>
        <tr>
          <td class="tableRow2">
              <div [innerHtml]="diff(baselinedChannelInfo.blacklistingLevel,channelInfo.blacklistingLevel)" ></div> 
          </td>
          <td class="tableRow2"> 
              <div [innerHtml]="diff(getVolumeControlValue(baselinedChannelInfo.blacklistingLevel),getVolumeControlValue(channelInfo.blacklistingLevel))" ></div> 
          </td>          
        </tr>
      </table>
      <br>
      <br>
    </div>
  </div>

<div *ngIf="editModeOn" class="divPosition">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="col-sm-12">
      <h4>Altéa services</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanSessionsOpenedPerDay.valid }">
          <label for="meanSessionsOpenedPerDay">Mean Sessions Opened / Day</label>
          <input type="number" [min]="0" class="form-control" name="meanSessionsOpenedPerDay" [(ngModel)]="channelInfo.meanSessionsOpenedPerDay"
            #meanSessionsOpenedPerDay="ngModel" required />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakSessionsOpenedPerDay.valid }">
          <label for="peakSessionsOpenedPerDay">Peak Sessions Opened / Day</label>
          <input type="number" [min]="0" class="form-control" name="peakSessionsOpenedPerDay" [(ngModel)]="channelInfo.peakSessionsOpenedPerDay"
            #peakSessionsOpenedPerDay="ngModel" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanSessionsOpenedPerSecond.valid }">
          <label for="meanSessionsOpenedPerSecond">Mean Sessions Opened / Sec</label>
          <input type="number" [min]="0" class="form-control" name="meanSessionsOpenedPerSecond" [(ngModel)]="channelInfo.meanSessionsOpenedPerSecond"
            #meanSessionsOpenedPerSecond="ngModel" required />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakSessionsOpenedPerSecond.valid }">
          <label for="peakSessionsOpenedPerSecond">Peak Sessions Opened / Sec</label>
          <input type="number" [min]="0" class="form-control" name="peakSessionsOpenedPerSecond" [(ngModel)]="channelInfo.peakSessionsOpenedPerSecond"
            #peakSessionsOpenedPerSecond="ngModel" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanConcurrentSessionsOpen.valid }">
          <label for="meanConcurrentSessionsOpen">Mean Concurrent Sessions Open</label>
          <input type="number" [min]="0" class="form-control" name="meanConcurrentSessionsOpen" [(ngModel)]="channelInfo.meanConcurrentSessionsOpen"
            #meanConcurrentSessionsOpen="ngModel" required />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakConcurrentSessionsOpen.valid }">
          <label for="peakConcurrentSessionsOpen">Peak Concurrent Sessions Open</label>
          <input type="number" [min]="0" class="form-control" name="peakConcurrentSessionsOpen" [(ngModel)]="channelInfo.peakConcurrentSessionsOpen"
            #peakConcurrentSessionsOpen="ngModel" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !sessionUsageDistribution.valid }">
          <label for="sessionUsageDistribution">Session Usage Distribution</label>
          <input type="text" class="form-control" name="sessionUsageDistribution" [(ngModel)]="channelInfo.sessionUsageDistribution"
            #sessionUsageDistribution="ngModel" required />
        </div>
      </div>
    </div>
    <br>

    <div class="col-sm-12">
      <h4>Common configuration parameters</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !applicationId.valid }">
          <label for="applicationId">Application ID</label>
          <input type="text" class="form-control" name="applicationId" [(ngModel)]="channelInfo.applicationId" #applicationId="ngModel"
            required />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !customerId.valid }">
          <label for="customerId">Customer ID</label>
          <input type="text" class="form-control" name="customerId" [(ngModel)]="channelInfo.customerId" #customerId="ngModel" required
          />
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <h4>Synchronous Channel</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !callerIdPattern.valid }">
          <label for="callerIdPattern">Caller ID Pattern</label>
          <input type="text" class="form-control" name="callerIdPattern" [(ngModel)]="channelInfo.callerIdPattern" #callerIdPattern="ngModel"
            required />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !capiVersion.valid }">
          <label for="capiVersion">Capi Core Version</label>
          <input type="text" class="form-control" name="capiVersion" [(ngModel)]="channelInfo.capiVersion" #capiVersion="ngModel" required
          />
        </div>
      </div>
    </div>




    <div class="col-sm-12">
      <h4>Synchronous channel blacklisting</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !blacklistingLevel.valid }">
          <label for="blacklistingLevel">Blacklisting Level</label>
          <select class="form-control" name="blacklistingLevel" [(ngModel)]="channelInfo.blacklistingLevel" #blacklistingLevel="ngModel">
            <option value="Low" [selected]="channelInfo.blacklistingLevel == 'Low'">Low</option>
            <option value="Medium" [selected]="channelInfo.blacklistingLevel == 'Medium'">Medium</option>
            <option value="High" [selected]="channelInfo.blacklistingLevel == 'High'">High</option>
          </select>
        </div>
        
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !warningThreshold.valid }">
          <label for="warningThreshold">Warning Threshold</label>
          <input type="text" class="form-control" name="warningThreshold" [value]="getVolumeControlValue(channelInfo.blacklistingLevel)"
            disabled />
        </div>
      
      </div>
      <!--
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !blacklistingThreshold.valid }">
          <label for="blacklistingThreshold">Blacklisting Threshold</label>
          <input type="text" class="form-control" name="blacklistingThreshold" [(ngModel)]="channelInfo.blacklistingThreshold" #blacklistingThreshold="ngModel"
            required />

        </div>
      </div>
    -->

    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="onSave()">
        <span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      <button type="button" class="btn btn-info" (click)="onDiscard()">
        <span class="glyphicon glyphicon-floppy-remove"></span> Discard</button>
    </div>
  </form>
</div>