.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #309712; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #CE0058; /* red */
}
.form-area{
  padding-top: 10em;
}
footer.copyright {
	font-size: 11px;
    text-align: center;
    position: absolute;
    left: 1;
    bottom: 0px;
    height: auto;
    width: 99%;
    color: #000;
    margin: 5px 0px;
    font-family: arial;
}

.login{
    width: 100%;
    height: 800px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/img/Login_Image_Shape.png);
    background-repeat: no-repeat;
    background-position: left bottom, right 20px top 20px;
    position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.appName {
    height: 175px;
    width: 400px;
/*    margin-left: 10%;*/
    float: left;
    position: relative;
    color: #154360;
    border-bottom: solid 1px gray;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}
.logo {
    float: right;
    margin-right: 20px;
}

.back {
    background-color: #154360;
}
.h1 {
    color: white;
}