<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="login back">
    <div class="appName">
        <h1 class="h1">System Interface Agreement (SIA)</h1>
    </div><br>
    <div class="logo"><img src="assets/img/Logo - Negative - RGB.png"></div>

    <div class="col-sm-4 col-sm-offset-4 form-area">
        <router-outlet></router-outlet>
        <app-alert></app-alert>
    </div>
</div>

<footer class="copyright" style="color: white;">
    <p>Copyright © 2017 Amadeus. All Rights Reserved</p>
</footer>
