<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<br>
<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
  <thead>
    <tr>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="customer" required [(ngModel)]="customer" (ngModelChange)="filter()" />
        </div>
        <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
        <br>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationName" required [(ngModel)]="destinationName" (ngModelChange)="filter()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsDestinationName">Destination Name</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationType" required [(ngModel)]="destinationType" (ngModelChange)="filter()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsDestinationType">Destination Type</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filter()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsInstance">Deployed In Instance</mfDefaultSorter>
        </div>
      </th>
      <th>
        <mfDefaultSorter by="emsDestinationProperties">Destination Properties</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="emsDestinationFullStrategy">Destination Full Strategy</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crNumber">CR Number</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crDesc">CR Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="trNumber">TR Number</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>{{item.customer}}</td>
      <td>{{item.emsDestinationName}}</td>
      <td>{{item.emsDestinationType}}</td>
      <td>{{item.emsInstance}}</td>
      <td>{{item.emsDestinationProperties}}</td>
      <td>{{item.emsDestinationFullStrategy}}</td>
      <td>{{item.crNumber}}</td>
      <td>{{item.crDesc}}</td>
      <td>{{item.trNumber}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr *ngIf="appName">
      <td colspan="5" style="float: right">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="submitSelectedFields()">Add</button>
      </td>
    </tr>
  </tfoot>
</table>