<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<h1>
    <small class="text-info">BW Async Service Catalogue</small>
  </h1>
  <hr>
  <div class="form-group col-sm-3">
    <label for="environment">Environment</label>
    <select class="form-control" name="env" [(ngModel)]="env" #environment="ngModel" (change)="getAsyncCatalogue()">
      <option value="PROD" [selected]="env == 'PROD'">PRODUCTION</option>
      <option value="INT" [selected]="env == 'INT'">INTEGRATION</option>
      <option value="TEST" [selected]="env == 'TEST'">TEST</option>
    </select>
  </div>
  <br>
  <hr>
  
  <table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="100"
    (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
    <thead>
      <tr>
        <th>
          <div style="width: 150px">
            <input type="text" class="form-control" name="customer" required [(ngModel)]="customer" (ngModelChange)="filter()" />
          </div>
          <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
          <br>
        </th>
        <th>
          <div style="width: 150px">
            <input type="text" class="form-control" name="processName" required [(ngModel)]="processName" (ngModelChange)="filter()"
            />
          </div>
          <mfDefaultSorter by="processName">Process Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="processVersion">Process Version</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="processType">Process Type</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="queues">Queues</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="topics">Topics</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="referencedServiceGroups">Referenced Service Groups</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="filename">Filename</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastDeploymentDates">Last Deployment Dates</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastChangeDesc">Last Change Description</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="businessCriticality">Business Criticality</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="pciFlag">PCI Flag</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastCrWorkedOn">Last CR Worked On</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastPtrWorkedOn">Last PTR Worked On</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastTrImplemented">Last TR Implemented</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="sharepointReferences">Sharepoint References</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data; let ndx = index">     
        <td>{{item.customer}}</td>
        <td>{{item.processName}}</td>
        <td>{{item.processVersion}}</td>
        <td>{{item.processType}}</td>
        <td>
            <div [innerHtml]="item.queues"></div>
        </td>
        <td>
            <div [innerHtml]="item.topics"></div>
        </td>
        <td>
            <div [innerHtml]="item.referencedServiceGroups"></div>
        </td>
        <td>{{item.filename}}</td>
        <td>{{item.lastDeploymentDates | date : 'medium'}}</td>
        <td>{{item.lastChangeDesc}}</td>
        <td>{{item.businessCriticality}}</td>
        <td>{{item.pciFlag}}</td>
        <td>{{item.lastCrWorkedOn}}</td>
        <td>{{item.lastPtrWorkedOn}}</td>
        <td>{{item.lastTrImplemented}}</td>
        <td>
          <div [innerHtml]="item.sharepointReferences"></div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
        </td>
      </tr>    
    </tfoot>
  </table>