<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="divPosition" style="margin-right: 10%; color: gray; background-color: white">
  <form name="form" (ngSubmit)="f.form.valid && onSave($event)" #f="ngForm" validate>
    <div class="row" *ngIf=" (path =='my-applications' && (appDetails.approvalStatus == 'DRAFT' || appDetails.approvalStatus == 'RETURNED_TO_OWNER')) || 
    (path =='approvals' && appDetails.approvalStatus == 'SUBMITTED_FOR_APPROVAL')">
      <div class="col-sm-2"></div>
      <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !subComment.valid }" *ngIf="(path =='my-applications' && appDetails.lockedBy == authServ.getUserName()) || path =='approvals'">
        <label for="subComment">Comment</label>
        <label for="subComment" style="float: right" *ngIf="submissionComment"><sub>{{submissionComment.length}} of 2000 characters</sub></label>
        <textarea class="form-control" spellcheck="true" name="subComment" [(ngModel)]="submissionComment" #subComment="ngModel"
          required maxlength="2000"></textarea>
        <div *ngIf="f.submitted && !subComment.valid" class="help-block">Please provide comments</div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row" *ngIf=" (path =='my-applications' && (appDetails.approvalStatus == 'DRAFT' || appDetails.approvalStatus == 'RETURNED_TO_OWNER') && appDetails.lockedBy == authServ.getUserName()) || 
              (path =='approvals' && appDetails.approvalStatus == 'SUBMITTED_FOR_APPROVAL')">
      <div class="col-sm-2"></div>
      <div class="col-sm-6" style="text-align: center">
        <button name="submitForApproval" type="submit" class="btn btn-primary active" *ngIf="appDetails.approvalStatus == 'DRAFT' || appDetails.approvalStatus == 'RETURNED_TO_OWNER'"><span class="glyphicon glyphicon-hand-right"></span> Submit for Review</button>
        <button name="raiseIssue" type="submit" class="btn btn-primary active" *ngIf="appDetails.approvalStatus == 'SUBMITTED_FOR_APPROVAL'"><span class="glyphicon glyphicon-thumbs-down"></span> Raise Issues</button>
        <button name="approve" type="button" (click)="approveSIA()" class="btn btn-primary active" *ngIf="appDetails.approvalStatus == 'SUBMITTED_FOR_APPROVAL'"><span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
      </div>
    </div>
    <div *ngIf="validationFailures" style="padding-top: 10px; padding-right: 20px">
      <div class="col-sm-2"></div>
      <table border="1" style="border-color: grey" class="table table-bordered">
        <tr class="danger">
          <th>Section</th>
          <th>Issues</th>
        </tr>
        <tr *ngFor="let element of validationFailures">
          <td>{{element.key}}</td>
          <td>
            <table>
              <tr *ngFor="let value of element.value">
                <td>{{value}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div *ngFor="let comment of comments" class="col-sm-11">
        <blockquote [ngClass]="{'blockquoteOwner': comment.userType == 'APPLICATION_OWNER', 'blockquote-reverse blockquoteReviewer': comment.userType == 'CAPACITY_APPROVER'}">
          <p>{{comment.comment}}</p>
          <footer><i>{{comment.userName}} - {{comment.timeStamp | date : 'medium'}} </i></footer>
        </blockquote>
      </div>
    </div>
  </form>
</div>