.blockquoteOwner{
    float: left;
    border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
  }

.blockquoteReviewer{
    float: right;
    border-right: 5px solid #073A60; /* Just change the color value and that's it*/
  }