<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<h1>
  <small class="text-info">EMS Async Service Catalogue</small>
</h1>
<hr>
<div class="row">
  <div class="form-group col-sm-3">
    <label for="environment">Environment</label>
    <select class="form-control" name="env" [(ngModel)]="env" #environment="ngModel">
      <option value="TST" [selected]="env == 'TST'" selected = "selected">TEST</option>
    </select>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
  <mat-tab-group>
    <mat-tab label="Topics / Queues">
      <app-destinations [env]="env" ></app-destinations>
    </mat-tab>
    <mat-tab label="Bridges">
      <app-bridges [env]="env" ></app-bridges>
    </mat-tab>
    <mat-tab label="Durables">
      <app-durables [env]="env" ></app-durables>
    </mat-tab>
    <mat-tab label="User Permissions">
      <app-user-permissions  [env]="env" ></app-user-permissions>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>