<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<h1><small class="text-info">Sync Service Catalogue</small></h1>
<hr>

<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="100"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data">
  <thead>
    <tr>
      <th style="width: 5px" *ngIf="appName">
        <mfRowSelectorHead></mfRowSelectorHead>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="sgName" required [(ngModel)]="sgName" (ngModelChange)="filter()"/>
        </div>
        <mfDefaultSorter by="name">Service Group Name</mfDefaultSorter> <br>
      </th>
      <th>
        <mfDefaultSorter by="version">Version</mfDefaultSorter>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="op" required [(ngModel)]="op" (ngModelChange)="filter()"/>
        </div>
        <div>
          <mfDefaultSorter by="operation">Operation</mfDefaultSorter>
        </div>
      </th>
      <th>
        <mfDefaultSorter by="criticality">Criticality</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td *ngIf="appName">
        <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
      </td>
      <td>{{item.name}}</td>
      <td>{{item.version}}</td>
      <td>{{item.operation}}</td>
      <td>{{item.criticality}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr *ngIf="appName">
      <td colspan="5" style="float: right">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="submitSelectedFields()">Add</button>
      </td>
    </tr>
  </tfoot>
</table>