<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="divPosition" style="background-color: white">
  <div class="row" *ngIf="isEditAllowed" >
    <h4>Upload File</h4>
    <input type="file" ng2FileSelect [uploader]="uploader" accept="*.*" (change)="fileChanged($event)" />
    <div *ngFor="let item of uploader.queue; let i = index">
      <button *ngIf="i==(uploader.queue.length-1)" type="button" class="btn btn-success btn-xs" (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
    <span class="glyphicon glyphicon-upload"></span> Upload
    </button></div>    
  </div>
  <div *ngIf="fileNames && fileNames.length > 0" style="margin-top: 10px">
    <table style="width: 80%; border : 0px;">
      <tr>
        <th class="tableRow1">No.</th>
        <th class="tableRow1"> Filename </th>
        <th class="tableRow1"> Uploaded by </th>
        <th class="tableRow1"> Uploaded On </th>
        <th class="tableRow1"> Download </th>
        <th class="tableRow1" *ngIf="isEditAllowed"> Delete </th>
      </tr>
      <tr *ngFor="let item of fileNames; let i=index;">
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" style="margin-top: 5px">
          {{i+1}}
        </td>
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" style="margin-top: 5px">
          {{item.fileName}}
        </td>
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" style="margin-top: 5px">
          {{item.lastModifiedBy}}
        </td>
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" style="margin-top: 5px">
          {{item.lastModifiedOn | date}}
        </td>
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" style="margin-top: 5px">
          <a [href]="getURL(item.fileName)"><span class="glyphicon glyphicon-download-alt"></span></a>
        </td>
        <td [ngClass]="{'tableRow2' : i%2 == 0 , 'tableRow1' : i%2 != 0 }" *ngIf="isEditAllowed" style="margin-top: 5px">
          <a (click)="deleteFile(item.fileName)" ><span class="glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>

    </table>


  </div>
  <div *ngIf="!fileNames || fileNames.length == 0" style="margin-right: 10%; color: gray; background-color: white">
    <h2>No attachments available</h2>
  </div>

</div>
