<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<span>
  <mat-select placeholder="Download..." name="exportOption" [(ngModel)]="exportOption" #export="ngModel" required>
    <mat-option value="pdf">
      <img src="assets/img/pdfLogo.JPG" height="30px"> SIA as PDF
    </mat-option>
    <mat-option value="questionnaire">
      <img src="assets/img/wordLogo.JPG" height="30px"> Altéa Questionnaire
    </mat-option>
  </mat-select>
  <app-pdf-export *ngIf="exportOption == 'pdf'" [intro]="intro" [appDetails]="appDetails"></app-pdf-export>
  <app-questionnaire-generator *ngIf="exportOption == 'questionnaire'" [appDetails]="appDetails" ></app-questionnaire-generator>

</span>