/*.landing {
    background-color: #D7D2CC;
}
img#amadeus_bg_tr {
    right: 20px;
    top: 20px;
    position: absolute;
    height: 22px;
}
#login-box h2 {
    color: #00A9E0;
}
img#servicedesk_bubble_bg_tr {
    left: 20px;
    bottom: 20px;
    position: absolute;
    height: 340px;
}
#login-box label {
    color: #005EB8;
}
.feed-navbar-header {
    color: #CE0058;
    padding-left: 2px;
    font-size: 95%;
}*/
.text-primary {
    color: #005EB8;
}
.text-info {
    color: #00A9E0;
}
.text-danger {
    color: #CE0058;
}
a {
    color: #00A9E0;
}
.label-primary {
    background:#005EB8;
}
.label-info {
    background: #6AD1E3;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #00A9E0;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #ffffff;
    background: #a6a6a8;
}

/*#main-menu a:hover {
    background: #00A9E0;
}*/
.btn-primary {
    background: #005EB8;
}
.navbar {
    background: #154360;
}
.navbar-text {
    color: #ffffff !important;
}

.navbar-btn {
    color: #ffffff !important;
}
/*.feed-navbar-header {
    color: #005EB8;
    padding-left: 2px;
}
.announcement-view .feed-navbar {
    background: #CE0058;
}
.announcement-view .feed-navbar .list-group-item {
    background: #CE0058;
}
.announcement-view .list-group-item  a {
    color: #428bca;
}
.announcement-view .feed-navbar-header {
    color: #FFFFFF;
}
.announcement-view .feed-navbar-header {
    color: #FFFFFF;
}*/
.panel .panel-heading {
    background: #00A9E0;
    color: #ffffff;
}
/*#main-menu .brand {
    background: #005EB8;
}
#main-menu .brand img {
    margin-top: 12px;
    margin-left: 20px;
}*/





