<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="(!editModeOn || !isEditAllowed) && !enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="syncServices && syncServices.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addSync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Sync Service</button>
    </div>
    <h2>No Synchronous Services available</h2>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="syncServices && syncServices.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addSync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Sync Service</button>
    </div>
    <accordion >
      <accordion-group #group *ngFor="let syncServ of syncServices" [panelClass]="panel-primary">
        <div accordion-heading>
            <span [innerHtml]="syncServ.serviceName"></span>.
            <span [innerHtml]="syncServ.operation"></span>
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit this service" placement="top" (click)="enableEdit(syncServ)">
              <span class="glyphicon glyphicon-edit"></span>
            </button> &nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(syncServ)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <table>
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1"> {{syncServ.serviceName}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Operation</th>
              <td class="tableRow2"> {{syncServ.operation}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Version</th>
              <td class="tableRow1"> {{syncServ.version}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Application Role</th>
              <td class="tableRow2" *ngIf="syncServ.appRole == 'Consumer'"> Consumer </td>
              <td class="tableRow2" *ngIf="syncServ.appRole == 'Producer'"> Provider </td>
              <td class="tableRow2" *ngIf="syncServ.appRole == undefined"></td>
            </tr>
            <tr>
              <th class="tableRow1">Comments</th>
              <td class="tableRow1"> {{syncServ.comments}} </td>
            </tr>
            <tr *ngIf="syncServ.appRole == 'Producer'">
              <th class="tableRow2">Service Url</th>
              <td class="tableRow2"> {{syncServ.serviceUrl}} </td>
            </tr>
            <tr *ngIf="syncServ.appRole == 'Consumer'">
              <th class="tableRow1">Protocol Used</th>
              <td class="tableRow1"> {{syncServ.protocolUsed}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Purpose Of Usage</th>
              <td class="tableRow2"> {{syncServ.purposeOfUsage}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Criticality</th>
              <td class="tableRow1"> {{syncServ.criticality}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Justification of Criticality</th>
              <td class="tableRow2"> {{syncServ.criticalityJustification}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Workaround</th>
              <td class="tableRow1"> {{syncServ.workaround}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Data Worth Protection</th>
              <td class="tableRow2"> {{syncServ.dataWorthProtection}} </td>
            </tr>
            <tr *ngIf="syncServ.appRole == 'Producer'">
              <th class="tableRow1">Prov Via Extern</th>
              <td class="tableRow1"> {{syncServ.provViaExtern}} </td>
            </tr>
            <tr *ngIf="syncServ.appRole == 'Producer'">
              <th class="tableRow2">Max Cap</th>
              <td class="tableRow2"> {{syncServ.maxCap}} </td>
            </tr>
          </table>
          <table *ngIf="syncServ.appRole == 'Consumer'">
            <caption>
              <h4>Service usage behaviour</h4>
            </caption>
            <tr>
              <th class="tableRow1">Mean Calls Per Day</th>
              <td class="tableRow1"> {{syncServ.meanCallsPerDay}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Day</th>
              <td class="tableRow2"> {{syncServ.peakCallsPerDay}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Minute</th>
              <td class="tableRow1"> {{syncServ.meanCallsPerSec}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Minute</th>
              <td class="tableRow2"> {{syncServ.peakCallsPerSec}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Daily Load Distribution Period</th>
              <td class="tableRow1"> {{syncServ.dailyLoadDistributionPeriod}} </td>
            </tr>
          </table>
          <br>
          <br>
        </div>
      </accordion-group>
    </accordion>
    <br>
    <br>
  </div>
</div>

<div *ngIf="(!editModeOn || !isEditAllowed) && enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="diffSync && diffSync.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addSync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Sync Service</button>
    </div>
    <h2>No Synchronous Services available</h2>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="diffSync && diffSync.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addSync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Sync Service</button>
    </div>
    <accordion>
      <accordion-group #group  *ngFor="let syncServ of diffSync" [panelClass]="panel-default">
        <div accordion-heading>
          <span [innerHtml]="syncServ.title"></span>
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active" tooltip="Edit this service" placement="top" (click)="enableEdit(syncServ)">
              <span class="glyphicon glyphicon-edit"></span>
            </button> &nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(syncServ)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <table>
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.serviceName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Operation</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.operation"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Version</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.version"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Application Role</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.appRole"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Comments</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.comments"></div>
              </td>
            </tr>
            <tr *ngIf="syncServ.appRole.includes('&lt;ins&gt;Producer') || 
              (!syncServ.appRole.includes('&lt;') && syncServ.appRole.includes('Producer'))">
              <th class="tableRow2">Service Url</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.serviceUrl"></div>
              </td>
            </tr>
            <tr *ngIf="syncServ.appRole.includes('&lt;ins&gt;Consumer') || 
              (!syncServ.appRole.includes('&lt;') && syncServ.appRole.includes('Consumer'))">
              <th class="tableRow1">Protocol Used</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.protocolUsed"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Purpose Of Usage</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.purposeOfUsage"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Criticality</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.criticality"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Justification of Criticality</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.criticalityJustification"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Workaround</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.workaround"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Data Worth Protection</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.dataWorthProtection"></div>
              </td>
            </tr>
            <tr *ngIf="syncServ.appRole.includes('&lt;ins&gt;Producer') || 
              (!syncServ.appRole.includes('&lt;') && syncServ.appRole.includes('Producer'))">
              <th class="tableRow1">Prov Via Extern</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.provViaExtern"></div>
              </td>
            </tr>
            <tr *ngIf="syncServ.appRole.includes('&lt;ins&gt;Producer') || 
              (!syncServ.appRole.includes('&lt;') && syncServ.appRole.includes('Producer'))">
              <th class="tableRow2">Max Cap</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.maxCap"></div>
              </td>
            </tr>
          </table>
          <table *ngIf="syncServ.appRole.includes('&lt;ins&gt;Consumer') || 
             (!syncServ.appRole.includes('&lt;') && syncServ.appRole.includes('Consumer'))">
            <caption>
              <h4>Service usage behaviour</h4>
            </caption>
            <tr>
              <th class="tableRow1">Mean Calls Per Day</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.meanCallsPerDay"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Day</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.peakCallsPerDay"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Minute</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.meanCallsPerSec"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Minute</th>
              <td class="tableRow2">
                <div [innerHtml]="syncServ.peakCallsPerSec"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Daily Load Distribution Period</th>
              <td class="tableRow1">
                <div [innerHtml]="syncServ.dailyLoadDistributionPeriod"></div>
              </td>
            </tr>
          </table>
          <br>
          <br>
        </div>
      </accordion-group>
    </accordion>
    <br>
    <br>
  </div>
</div>




<div *ngIf="editModeOn && isEditAllowed" class="divPosition">
  <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" validate>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="serviceName">Service Name</label>
          <input type="text" class="form-control" name="serviceName" [(ngModel)]="sync.serviceName" #name="ngModel" disabled/>
        </div>
        <div class="form-group col-sm-6">
          <label for="operation">Operation</label>
          <input type="text" class="form-control" name="operation" [(ngModel)]="sync.operation" #operation="ngModel" disabled
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="version">Version</label>
          <input type="text" class="form-control" name="version" [(ngModel)]="sync.version" #version="ngModel" disabled/>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !appRole.valid }">
          <label for="appRole">Application Role</label>
          <select class="form-control" name="appRole" [(ngModel)]="sync.appRole" #appRole="ngModel">
            <option value="Consumer" [selected]="sync.appRole == 'Consumer'">Consumer</option>
            <option value="Producer" [selected]="sync.appRole == 'Producer'">Provider</option>
          </select>
          <!--
          <input type="text" class="form-control" name="appRole" [(ngModel)]="sync.appRole" #appRole="ngModel" required />
          -->
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !comments.valid }">
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comments" [(ngModel)]="sync.comments" #comments="ngModel"></textarea>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !purposeOfUsage.valid }">
          <label for="purposeOfUsage">Purpose of Usage</label>
          <textarea class="form-control" name="purposeOfUsage" [(ngModel)]="sync.purposeOfUsage" #purposeOfUsage="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticality.valid }">
          <label for="criticality">Criticality</label>
          <select class="form-control" name="criticality" [(ngModel)]="sync.criticality" #criticality="ngModel">
            <option value="Low" [selected]="sync.criticality == 'Low'">Low</option>
            <option value="Medium" [selected]="sync.criticality == 'Medium'">Medium</option>
            <option value="High" [selected]="sync.criticality == 'High'">High</option>
            <option value="Very High" [selected]="sync.criticality == 'Very High'">Very High</option>
          </select>
          <!--
          <input type="text" class="form-control" name="criticality" [(ngModel)]="sync.criticality" #criticality="ngModel" required
          />
          -->
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticalityJustification.valid }">
          <label for="criticalityJustification">Justification of Criticality</label>
          <textarea class="form-control" name="criticalityJustification" [(ngModel)]="sync.criticalityJustification" #criticalityJustification="ngModel"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !workaround.valid }">
          <label for="workaround">Workaround</label>
          <input type="text" class="form-control" name="workaround" [(ngModel)]="sync.workaround" #workaround="ngModel" />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !dataWorthProtection.valid }">
          <label for="dataWorthProtection">Data Worth Protection</label>
          <select class="form-control" name="dataWorthProtection" [(ngModel)]="sync.dataWorthProtection" #dataWorthProtection="ngModel">
            <option value="PCI" [selected]="sync.dataWorthProtection == 'PCI'">PCI</option>
            <option value="No" [selected]="sync.dataWorthProtection == 'No'">No</option>
            <option value="Other" [selected]="sync.dataWorthProtection == 'Other'">Other</option>
          </select>
          <!--
          <input type="text" class="form-control" name="dataWorthProtection" [(ngModel)]="sync.dataWorthProtection" #dataWorthProtection="ngModel"
            required />
          -->
        </div>
      </div>
      <div class="row" *ngIf="sync.appRole == 'Producer'">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !provViaExtern.valid }">
          <label for="provViaExtern">Prov Via Extern</label>
          <select class="form-control" name="provViaExtern" [(ngModel)]="sync.provViaExtern" #provViaExtern="ngModel">
            <option value="PCI Compliance Engine" [selected]="sync.provViaExtern == 'PCI Compliance Engine'">PCI Compliance Engine</option>
            <option value="Internet Proxy" [selected]="sync.provViaExtern == 'Internet Proxy'">Internet Proxy</option>
            <option value="No" [selected]="sync.provViaExtern == 'No'">No</option>
          </select>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !maxCap.valid }">
          <label for="maxCap">Max Cap</label>
          <textarea class="form-control" name="maxCap" [(ngModel)]="sync.maxCap" #maxCap="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !serviceUrl.valid }" *ngIf="sync.appRole == 'Producer'">
          <label for="serviceUrl">Service Url</label>
          <input type="text" class="form-control" name="serviceUrl" [(ngModel)]="sync.serviceUrl" #serviceUrl="ngModel" />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !protocolUsed.valid }" *ngIf="sync.appRole == 'Consumer'">
          <label for="protocolUsed">Protocol Used</label>
          <select class="form-control" name="protocolUsed" [(ngModel)]="sync.protocolUsed" #protocolUsed="ngModel">
            <option value="HTTPS" [selected]="sync.protocolUsed == 'HTTPS'">HTTPS</option>
            <option value="JMS-SSL" [selected]="sync.protocolUsed == 'JMS-SSL'">JMS-SSL</option>
          </select>
          <!--
          <textarea class="form-control" name="protocolUsed" [(ngModel)]="sync.protocolUsed" #protocolUsed="ngModel" required></textarea>
          -->
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="sync.appRole == 'Consumer'">
      <h4>Service usage behaviour</h4>
    </div>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm" *ngIf="sync.appRole == 'Consumer'">

      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanCallsPerDay.valid }">
          <label for="meanCallsPerDay">Mean Calls / Day</label>
          <input type="number" [min]="0" class="form-control" name="meanCallsPerDay" [(ngModel)]="sync.meanCallsPerDay" #meanCallsPerDay="ngModel"
          />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakCallsPerDay.valid }">
          <label for="peakCallsPerDay">Peak Calls / Day</label>
          <input type="number" [min]="0" class="form-control" name="peakCallsPerDay" [(ngModel)]="sync.peakCallsPerDay" #peakCallsPerDay="ngModel"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanCallsPerSec.valid }">
          <label for="meanCallsPerSec">Mean Calls / Minute</label>
          <input type="number" [min]="0" class="form-control" name="meanCallsPerSec" [(ngModel)]="sync.meanCallsPerSec" #meanCallsPerSec="ngModel"
          />
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakCallsPerSec.valid }">
          <label for="peakCallsPerSec">Peak Calls / Minute</label>
          <input type="number" [min]="0" class="form-control" name="peakCallsPerSec" [(ngModel)]="sync.peakCallsPerSec" #peakCallsPerSec="ngModel"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !dailyLoadDistributionPeriod.valid }">
          <label for="dailyLoadDistributionPeriod">Daily Load Distribution Period</label>
          <textarea class="form-control" name="dailyLoadDistributionPeriod" [(ngModel)]="sync.dailyLoadDistributionPeriod" #dailyLoadDistributionPeriod="ngModel"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <!--
      <button type="submit" class="btn btn-primary" (click)="onSave()"><span class="glyphicon glyphicon-floppy-save"></span> Save Draft</button>
      -->
      <button type="submit" class="btn btn-primary" (click)="setSaveType('save')">
        <span class="glyphicon glyphicon-floppy-save"></span> Save Draft</button>
      <button type="submit" class="btn btn-primary" (click)="setSaveType('saveAndClose')">
          <span class="glyphicon glyphicon-floppy-save"></span> Save Draft and Close</button>
      <button type="button" class="btn btn-info" (click)="onDiscard()">
        <span class="glyphicon glyphicon-floppy-remove"></span> Discard</button>
    </div>
  </form>
</div>