<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="well">
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.userName" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <!--
    <div class="row form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <div class="col-sm-6">        
        <label for="carrier">Carrier</label>
        <select class="form-control" name="carrier" [(ngModel)]="user.carrier" #carrier="ngModel" required>
          <option *ngFor="let carrier of carrierList" [value]="carrier.name">{{ carrier.displayName }}</option>
        </select>
        <div *ngIf="f.submitted && !carrier.valid" class="help-block">Carrier is required</div>
      </div>
    </div>
    -->
    <div class="row form-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">      
      <div class="col-sm-6">
      <label for="carrier">Carrier</label>
      <mat-select placeholder="Select" name="carrier" [(ngModel)]="user.carrier" #carrier="ngModel" required>
        <mat-option *ngFor="let carrier of carrierList" [value]="carrier.name">
          <img [src]="carrier.icon" height="30px"> {{ carrier.displayName }}
        </mat-option>
      </mat-select>
      <div *ngIf="f.submitted && !carrier.valid" class="help-block">Carrier is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" >Login</button>
      <img *ngIf="loading" src="assets/img/loader.gif" />      
    </div>

  </form>

  <p *ngIf="attempts<3 && attempts >0" class="text-danger">You have only {{attempts}} attempts left.</p>

  <button *ngIf="alreadyLoggedIn" type="button" class="btn btn-danger" (click)="logout()">Logout Existing Session</button>

</div>