<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<br>
<br><br>
<div class="row container-fluid">

  <h1><small class="text-info">User Management</small></h1>
  <hr>
  <form name="form" (ngSubmit)="f.form.valid && saveOrCreateUser()" #f="ngForm" validate>
  <div class="well well-sm" style="margin-left : 20%; margin-right : 20%">
    <div class="row" style="float: center">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="user">User</label>
          <input type="text" class="form-control" id="user" placeholder="User" name="user" [(ngModel)]="user" [typeahead]="userList"
            [typeaheadMinLength]="0" (ngModelChange)="userSelected()" (focusout)="setNewUser()" #userTag="ngModel" required>
            
        </div>
      </div>
      <div class="form-group" class="col-sm-5" [ngClass]="{ 'has-error': f.submitted && !emailTag.valid}">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="email" #emailTag="ngModel" required
        pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" >
        <div *ngIf="f.submitted && !emailTag.valid" class="help-block">Please provide a valid email</div>
      </div>
      
      <div *ngIf="showProperties">        
        <div class="form-group" class="col-sm-1">
          <label for="admin">Admin </label> &nbsp;
          <input type="checkbox" name="admin" [checked]="isAdmin" (change)="onAdminChange()" tooltip="Check this box if you want to make this user an Admin">
        </div>
        <div class="form-group" class="col-sm-3">
          <label for="capacity">Capacity Approver </label> &nbsp; <br>
          <input type="checkbox" name="capacity" [checked]="isCapacityApprover" (change)="onCapacityApproverChange()"
            tooltip="Check this box if you want to make this user a Capacity Approver">
        </div>
      </div>
    </div>
  </div>
  <div class="well" *ngIf="showProperties && !isCapacityApprover" style="margin-left : 20%; margin-right : 20%;">
    <div class="row">
      <div class="col-sm-5" style="text-align: center">
        <div class="form-group">
          <label for="nonSelectedApps">Available Applications</label>
          <select name="nonSelectedApps" multiple style="height:300px; width:250px" [(ngModel)]="nonSelectedApps_selected">
          <option *ngFor="let app of nonSelectedApps" [value]="app" (dblclick)="moveAppsToSelected()">{{app}}</option>
        </select>
        </div>
      </div>
      <div class="col-sm-2" style="text-align: center">
        <button type="button" class="btn btn-primary" style="margin-top: 100px" (click)="moveAppsToSelected()"><span class="glyphicon glyphicon-menu-right"></span></button><br>
        <button type="button" class="btn btn-primary" (click)="moveAppsToNonSelected()"><span class="glyphicon glyphicon-menu-left"></span></button>
      </div>
      <div class="col-sm-5" style="text-align: center">
        <div class="form-group">
          <label for="selectedApps">Assigned</label>
          <select name="selectedApps" multiple style="height:300px; width:250px;" [(ngModel)]="selectedApps_selected">
          <option *ngFor="let app of selectedApps" [value]="app" (dblclick)="moveAppsToNonSelected()">{{app}}</option>
        </select>
        </div>
        <div *ngIf="showProperties">
          <div class="form-group">
            <label for="admin">Entitle to Create New SIA </label> &nbsp;
            <input type="checkbox" name="admin" placement="bottom" tooltip="Check to entitle user to create a new SIA" [checked]="isEntitledToCreateApplication"
              (change)="isEntitledToCreateApplication = !isEntitledToCreateApplication">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center" *ngIf="showProperties">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    <button type="button" class="btn btn-danger" (click)="remove()" *ngIf="isNewUser()"><span class="glyphicon glyphicon-floppy-remove" ></span> Remove User</button>
  </div>
  </form>
</div>