<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="row container-fluid">
  <h1><small class="text-info">SIA Approvals</small></h1>
  <hr>
  <div *ngIf="unapprovedApplications && unapprovedApplications.length == 0">
    <img src="assets\img\noApproval.jpg" />
  </div>
  <div *ngIf="unapprovedApplications && unapprovedApplications.length != 0">
    <table>
      <tr>
        <th style="width: 400px" class="approvalTableHeader">Application Name</th>
        <th style="width: 100px" class="approvalTableHeader">Customer ID</th>
      </tr>
      <tr *ngFor="let app of unapprovedApplications; let i=index;">
        <td [ngClass]="{'tableRow1': i%2 == 0, 'tableRow2': i%2 != 0}"><a (click)="onClick(app.name, app.airlineName)" >{{app.name}}</a></td>
        <td [ngClass]="{'tableRow1': i%2 == 0, 'tableRow2': i%2 != 0}">{{app.airlineName}}</td>
      </tr>
    </table>
  </div>
</div>