<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<button tooltip="Click to choose SIA" placement="top" class="btn btn-primary active" data-toggle="collapse" data-target="#search">Select SIA</button>
<br>
<div id="search" class="panel-primary collapse" style="border: 1px solid #2964c4; border-radius: 5px; 
          background-image: url('assets/img/yellowBG.jpg') ">


  <!--<div class="panel-heading">Search</div>-->
  <div class="panel-body ">
    <div class="row">
      <div class="col-sm-4" *ngIf="authServ.getUserCarrier() == undefined || authServ.getUserCarrier() == '1A' || authServ.getUserCarrier() == 'LX' || path == 'incident-management'"></div>
      <div class="col-sm-4">
        <button tooltip="Click to filter SIAs assigned to you" placement="left" *ngIf="((authServ.getUserApplications() && authServ.getUserApplications().length != 0) || 
        (authServ.getUserRoles() && authServ.getUserRoles().includes('CREATE_NEW_APP'))) && path !='my-applications' && path !='approvals' && path != 'incident-management'"
          (click)="redirect('dashboard/my-applications/app-details')" type="button" class="btn btn-primary btn-xs active" style="float: right">
          <span class="glyphicon glyphicon-filter" ></span> My SIAs</button>
        <button tooltip="Click to see all baselined SIAs" placement="left" *ngIf="path =='my-applications'" (click)="redirect('dashboard/applications/app-details')"
          type="button" class="btn btn-primary btn-xs active" style="float: right">
          <span class="glyphicon glyphicon-filter"></span> All SIAs</button>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="authServ.getUserCarrier() == undefined || authServ.getUserCarrier() == '1A' || authServ.getUserCarrier() == 'LX' || path == 'incident-management'">
      <div class="form-group">
        <label for="airline">Airline
          <span class="glyphicon glyphicon-plane"></span>
        </label>
        <select name="airline" class="form-control" id="airline" (change)="getAppList()" [(ngModel)]="airline">
          <option *ngFor="let name of airlineList" [ngValue]="name.name" [selected]="name.name == airline">{{name.displayName}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4" *ngIf="path != 'my-applications' && path != 'approvals' ">
      <div class="form-group">
        <label for="application">Application
          <span class="glyphicon glyphicon-tasks"></span>
        </label>
        <select name="application" class="form-control" id="application" [(ngModel)]="applicationName" (change)="onSIANameChange()">
          <option></option>
          <option *ngFor="let name of applicationNameList" [ngValue]="name.name" [selected]="name.name == applicationName">{{name.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4" *ngIf="path == 'my-applications' || path == 'approvals' ">
      <div class="form-group">
        <label for="application">Application
          <span class="glyphicon glyphicon-tasks"></span>
        </label>
        <select name="application" class="form-control" id="application" [(ngModel)]="applicationName" (change)="emitSelectedAppName()">
          <option></option>
          <option *ngFor="let name of applicationNameList" [ngValue]="name.name" [selected]="name.name == applicationName">{{name.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-3" *ngIf="path != 'my-applications' && path != 'approvals' ">
      <div class="form-group">
        <label for="ver">Version
          <span class="glyphicon glyphicon-tasks"></span>
        </label>
        <select name="ver" class="form-control" id="ver" [(ngModel)]="version" (change)="emitSelectedAppName()">
          <option *ngFor="let val of versionList" [ngValue]="val" [selected]="val == version">{{val}}</option>
        </select>
      </div>
    </div>
  </div>
</div>