<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>