<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<div class="col-sm-11">
  <h3>Introduction</h3>
  <ol>
    <li>
      <h4>Document Scope</h4>
    </li>
    <p style="text-align:justify">
      The goal of this document is to explain and describe support processes, tools, escalation flows and other useful information
      needed when reporting an issue to the SMC.
    </p>
    <li>
      <h4>Target Audience</h4>
    </li>
    <p style="text-align:justify">
      This document is intended for the SMC teams involved in Lufthansa Middleware support.
    </p>
  </ol>

  <h3>System Overview</h3>
  <ol>
    <li>
      <h4>Overview of ZAMBAS R6/LH SOA</h4>
    </li>
    <div style="text-align:justify">
      The ZAMBAS R6/LH SOA platform acts as a communication turntable for all kinds of messages and protocols. Its core purpose
      is to provide a single point of access to all services used by as well as being provided by LH applications and to
      avoid point-to-point communication of applications among each other or to and from 3rd party providers. The latter
      reduces connectivity setup efforts (firewall, routing, VPNs) since all systems have to be connected to a single point
      only.<br>
      <img src="assets/img/e2e_overview.jpg" height="400px"/>
      <br><br> When speaking about the ZAMBAS R6/LH SOA architecture we consider three levels or tiers:
      <ul>
        <li>Clients (Service Consumer)</li>
        <li>ZAMBAS R6/LH SOA platform</li>
        <li>Backends (Service Providers)</li>
      </ul>
    </div>
    <li>
      <h4>Components of ZR6</h4>
    </li>
    <ol>
      <li>
        <i>
          <h4>Web Service Manager</h4>
        </i>
      </li>
      <div style="text-align:justify">
        The main task of the ZAMBAS R6/LH SOA platform is to provide a uniform and standards-based communication platform allowing
        control and monitoring of required service levels. The service management itself is realized using Progress Actional
        Intermediary (AI) web service manager, which provides service management for all services hosted on backends and
        on the ZAMBAS R6/LH SOA platform.
      </div>

      <li>
        <i>
          <h4>Messaging, Orchestration and Transformation</h4>
        </i>
      </li>
      <div style="text-align:justify">
        The combination of Progress Actional Intermediary (AI) with Tibco Enterprise Messaging Service (EMS), Tibco BusinessWorks
        (BW), Oracle WebLogic Server (WLS) and GlobalScape Enhanced File Transfer (EFT) forms a feature-rich Enterprise Service
        Bus (ESB) enabling synchronous, asynchronous, and batch-based communication, all kind of format conversions as well
        as misc. forms of translation and brokering between all communication channels and “styles” (fanning-out, collection,
        aggregation, sync → async, async → sync, async → batch, etc.).
      </div>

      <li>
        <i>
          <h4>Packaged Application Hosting</h4>
        </i>
      </li>
      <div style="text-align:justify">
        The ZAMBAS R6/LH SOA platform as it exists today can already host services and business logic either on Tibco BusinessWorks
        or on Oracle WebLogic Servers. This capability, however, is mainly used for internal purposes so far. It is planned
        to extend this aspect considerably in the future by adding Tibco ActiveMatrix ServiceGrid (AMX SG) as a flexible
        and scalable application hosting component into the above picture. This will allow our customers to increasingly
        factor out business logic that is reusable inside their company into commonly used components and thus create better
        structured, more componentized applications in the true SOA spirit and host these components in a central location
        offering all the benefits of reliable around-the-clock application operation and monitoring.
      </div>

      <li>
        <i>
          <h4>Management, Monitoring, Logging, and Reporting</h4>
        </i>
      </li>
      <div style="text-align:justify">
        All web services are available through AI and are managed over it transparently. They can be grouped, versioned and configured
        in terms of access control and logging levels. Information like the web service URL or the specific WSDL file describing
        how to format requests can be accessed using AI’s web GUI.

        <br>An SOA Management Portal provides a single point of entry for all management functionality, monitoring, reporting
        and administration tools of the whole middleware. Via it operation support as well as the customers themselves can
        monitor applications, access logs and reports as well as view documentation.
      </div>

      <li>
        <i>
          <h4>ZAMBAS R6/LH SOA Communication Types and Protocols</h4>
        </i>
      </li>
      <div style="text-align:justify">
        The ZAMBAS R6/LH SOA platform offers diverse access and communication channels as shown in Figure 2 using the communication
        with different Amadeus backends as an example:
        <br>
        <img src="assets/img/e2e_communicationType.jpg" height="300px"/>
        <br>
        <ol>
          <li>Asynchronous Web Service calls (sending and receiving are independent processes. The sender will not wait for a
            reply):
          </li>
          <ul>
            <li>SOAP via (Secure) JMS</li>
          </ul>
          <li>Synchronous Web Service calls (the sender will wait until the communication is finished and it got a reply or an
            error message):
          </li>
          <ul>
            <li>SOAP via direct HTTP(S)</li>
            <li>Fast Infoset via HTTP(S) – FI is a kind of compressed (actually: tokenized) XML</li>
            <li>Synchronous Web Service calls via (secure) JMS</li>
          </ul>
          <li>Using file transfers (mainly used to exchange large data files):
          </li>
          <ul>
            <li>Via (S)FTP
              <ul>
                <li>As client</li>
                <li>As server</li>
              </ul>
            </li>
            <li>Via shared file system</li>
          </ul>
          <li>Special access types
          </li>
          <ul>
            <li>via MQ adapter (asynchronous)</li>
          </ul>
        </ol>
      </div>

      <li>
        <i>
          <h4>Asynchronous communication</h4>
        </i>
      </li>
      <div style="text-align:justify">
        Queue based communication allows for two different basic communication models: point-to-point and publish-subscribe:
        <br>
        <img src="assets/img/e2e_async.jpg" height="200px"/>
        <br>
        <br> In basic mode one single message from one single producer has exactly one single consumer. Messages are exchanged
        via queues hosted on the messaging server. There are variations of the scheme where multiple producers write to the
        same queue and/or multiple consumers read from the same queue (but each message is consumed by a single consumer
        only!). The latter, i.e. multiple consumers reading from the same queue, is also used to provide redundancy and scaling
        to overcome problems if the processing of the consumed message takes too long or a consumer fails or crashes, then
        other consumers can take over.
        <br> In the publish-subscribe model messages can be produced and consumed by multiple producers and consumers. The messages
        are exchanged using topics on the messaging server and each subscriber whose subscription matches gets a copy of
        the message. The EMS server used in the platform offers all JMS features but also implements filtering, logging,
        monitoring, reliability, scalability, failover, etc.
        <br>
      </div>


      <li>
        <i>
          <h4>Synchronous communication</h4>
        </i>
      </li>
      <div style="text-align:justify">
        While the basic idea of queues is to provide asynchronous communication there is also a mode, where each producer, after
        depositing a message in the JMS queue, waits on a temporary queue for a response message, thereby essentially converting
        the communication into a synchronous flow. This mode is used a lot in the ZAMBAS R6/LH SOA environment.
        <br> Basic synchronous HTTP(S) communication is handled by AI alone. It also handles certain basic operations, like access
        control, XML payload transformation and filtering (using XSLT) and routing to different backends based on message
        header fields (like user or customer ids) or based on requested service versions.
        <br> For more elaborate transformations messages are not forwarded to the backend directly but passed to process implemented
        on either Tibco BusinessWorks or Oracle WebLogic Server. These processes can handle protocol conversion (e.g. SOAP/XML
        to Amadeus’ EDIFACT), fanning out to multiple backend receivers, aggregation of data (e.g. into files or databases)
        or enrichment of messages using additional backend calls before forwarding the message, and many other duties.
        <br>
      </div>

      <li>
        <i>
          <h4>Batch / File Transfer</h4>
        </i>
      </li>
      <div style="text-align:justify">
          <br>
          <img src="assets/img/e2e_batch.jpg" height="300px"/>
          <br><br>
        ZAMBAS R6/LH SOA handles all exchange of data files between 3rd parties using GlobalScape Enhanced File Transfer (EFT). The
        platform takes care of receiving, processing and sending of data files based of specific rules between communication
        partners.
        <br> There are two principal ways of exchanging data files over ZAMBAS R6/LH SOA using FTP: client or server1.
        <br> In the first case the external system (acting as FTP client) initiates the connection to the platform’s FTP server
        and pushes (FTP put) or pulls (FTP get) a file2.
        <br> In the second case, the platform’s FTP component is the initiating part and connects to an external FTP server to
        push or pull (a) file(s). The receiving system then needs to monitor specific folders for new files or get a trigger
        from the FTP server about a new file having arrived (as is the case in the middleware).
        <br> Files having arrived (in either mode) are stored on the platform’s file system (where they are also kept for a specifiable
        period – usually 3-10 days – in case they need to be resent) and they can trigger scripts allowing for arbitrary
        processing. One typical operation is to simply forward the file elsewhere (typically some file renaming according
        to customer specifications is part of this process) or to trigger some processing of the file (like converting it,
        summarizing or aggregating it into other files, or sending the contained records individually to other backends using
        web services or message queues).
        <br> The inverse is also quite typical in the ZAMBAS R6/LH SOA environment, i.e. messages constantly arriving – typically
        via message queues – are aggregated into files and the resulting collections are sent out to some external party
        at specifiable times or intervals.
        <br> A customer specific LDAP server (in LH’s case DESMON) can be involved controlling authentication and authorization
        for queue accesses as well as file transfers. Secure, encrypted transfers can be done using Secure FTP (using SSL)
        or using FTP over SSH2.
        <br>

      </div>

      <li>
        <i>
          <h4>Security</h4>
        </i>
      </li>
      <div style="text-align:justify">
        <table>
          <tr>
            <th class="tableRow1">Security Level</th>
            <th class="tableRow1">Description</th>
          </tr>
          <tr>
            <th class="tableRow1">Access Control</th>
            <td class="tableRow2" style="text-align:justify">Authentication and Authorization describes the process and tools for ensuring that the communication partner
              is really the person / system he claims to be (authentication) and has the correct roles and rights to use
              a provided service (authorization).</td>
          </tr>
          <tr>
            <th class="tableRow1">Encryption</th>
            <td class="tableRow2" style="text-align:justify">Describes the process and tools or algorithms to encrypt communication data into an unreadable form. Only communication
              partners with the right key to decrypt the encrypted data can understand the content.</td>
          </tr>
          <tr>
            <th class="tableRow1">Transaction handling</th>
            <td class="tableRow2" style="text-align:justify">Transaction handling can ensure that communication is always atomic, consistent, isolated and durable (ACID).
              In this “all-or-nothing” scenario a communication has to be complete in its entirety or will be rolled back
              to the starting point.</td>
          </tr>
          <tr>
            <th class="tableRow1">Failsafe Infrastructure</th>
            <td class="tableRow2" style="text-align:justify">The applications and services are deployed and running on various hardware infrastructure components. Redundant
              infrastructure supports service provisioning and operation even if parts of the infrastructure are defect or
              overloaded.</td>
          </tr>
          <tr>
            <th class="tableRow1">PCI DSS Compliance</th>
            <td class="tableRow2" style="text-align:justify">Planned but not yet implemented (Pre-Audit performed. Audit to be completed by end 2014)
            </td>
          </tr>
        </table>
      </div>
    </ol>
  </ol>

</div>










<!--
  <p style="text-align:justify">
    {{intro.introduction}}
  </p>
  <h3>Document Scope</h3>
  <p style="text-align:justify">
    {{intro.docScope}}
  </p>
  <h3>Responsibilities</h3>
  <p style="text-align:justify">
    {{intro.responsibilities}}
  </p>
  <h3>ZAMBAS R6 Information</h3>
  <div class="col-sm-10" style="margin-bottom: 20px">
    <table>
      <tr>
        <th class="tableRow1">ZAMBAS R6 System Responsible</th>
        <td class="tableRow1" style="text-align:justify">{{intro.zr6SysResp}}</td>
      </tr>
      <tr>
        <th class="tableRow2">ZAMBAS R6 Change Management</th>
        <td class="tableRow2" style="text-align:justify">{{intro.zr6ChngMngmnt}}</td>
      </tr>
      <tr>
        <th class="tableRow1">ZAMBAS R6 Incident Management</th>
        <td class="tableRow1" style="text-align:justify">{{intro.zr6IncMngmnt}}</td>
      </tr>
      <tr>
        <th class="tableRow2">ZAMBAS R6 Description</th>
        <td class="tableRow2" style="text-align:justify">{{intro.zr6Desc}}</td>
      </tr>
    </table>
  </div>
</div>

-->