/* Styles go here */
body {
  padding-top: 51px;
}

/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 20px;
  background-color: #E0E0E0;
  border-right: 1px solid darkgrey;
}