<app-header></app-header>
<div class="col-xs-7 col-sm-2 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
  <app-sidenav [items]="items" (itemClicked)="onItemClicked($event)"></app-sidenav>
</div>

<div class="main col-md-10 col-md-offset-2">
  <router-outlet></router-outlet>
</div>


