<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word"
    xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title></title>
    <style>
        v\:* {
            behavior: url(#default#VML);
        }

        o\:* {
            behavior: url(#default#VML);
        }

        w\:* {
            behavior: url(#default#VML);
        }

        .shape {
            behavior: url(#default#VML);
        }
    </style>
    <style>
        @page {
            size: 7in 9.25in;
            margin: 27mm 16mm 27mm 16mm;
        }

        @page Section1 {
            mso-header-margin: .5in;
            mso-footer-margin: .5in;
            mso-header: h1;
            mso-footer: f1;
        }

        div.Section1 {
            page: Section1;
        }

        table#hrdftrtbl {
            margin: 0in 0in 0in 900in;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }

        p.MsoFooter,
        li.MsoFooter,
        div.MsoFooter {
            margin: 0in;
            margin-bottom: .0001pt;
            mso-pagination: widow-orphan;
            tab-stops: center 3.0in right 6.0in;
            font-size: 12.0pt;
        }

        ol {
            counter-reset: item
        }

        li {
            display: block
        }

        li:before {
            content: counters(item, ".") " ";
            counter-increment: item
        }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #1A61A9;
        }

        .pagebreak {
            page-break-before: always;
        }
    </style>
    <xml>
        <w:WordDocument>
            <w:View>Edit</w:View>
            <w:Zoom>110</w:Zoom>
            <w:DoNotOptimizeForBrowser/>
        </w:WordDocument>
    </xml>
</head>

<body>
    <div class="Section1">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class='CoverHeading1'>
            <strong>
                <span lang='EN-GB'>
                    <h1>QUE-IMP-0093</h1>
                </span>
            </strong>
        </p>
        <p class='CoverHeading1'>
            <strong>
                <span lang='EN-GB'>
                    <h3>{{applicationName}} Questionnaire</h3>
                </span>
            </strong>
        </p>
        <p>&nbsp;</p>
        <p>
            <em>
                <br />&nbsp;</em>
        </p>
        <h2>
            <em>&nbsp;</em>
        </h2>
        <p>
            <em>&nbsp;</em>
        </p>
        <p>
            <b style="font-size: 14px;">Document Control</b>
        </p>

        <table style="size: 100px; border: 1px solid black; font-size: 12px;">
            <tbody>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Template Version</strong>
                        </p>
                    </td>
                    <td colspan='4' width='448'>
                        <p>2.4</p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Security level</strong>
                        </p>
                    </td>
                    <td colspan='4' width='448'>
                        <p>In commercial confidence</p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Company</strong>
                        </p>
                    </td>
                    <td colspan='4' width='448'>
                        <p>Amadeus IT Group SA</p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Department</strong>
                        </p>
                    </td>
                    <td colspan='4' width='448'>
                        <p>Airline IT Implementation - Impacted Systems</p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Author</strong>
                        </p>
                    </td>
                    <td colspan='4' width='448'>
                        <p>{{userName}}</p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>Version</strong>
                        </p>
                    </td>
                    <td width='75'>
                        <p>
                            <strong>Date</strong>
                        </p>
                    </td>
                    <td width='119'>
                        <p>
                            <strong>Change</strong>
                        </p>
                    </td>
                    <td width='123'>
                        <p>
                            <strong>Comment</strong>
                        </p>
                    </td>
                    <td width='131'>
                        <p>
                            <strong>By</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width='83'>
                        <p>
                            <strong>1.0</strong>
                        </p>
                    </td>
                    <td width='75'>
                        <p>{{currentDate}}</p>
                    </td>
                    <td width='119'>
                        <p>Initial Document</p>
                    </td>
                    <td width='123'>
                        <p>&nbsp;</p>
                    </td>
                    <td width='131'>
                        <p>{{userName}}</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>

            <h1 style="page-break-before: always;">
                1. Checkin Application
            </h1>

            <h2>
                1.1 Purpose
            </h2>
            <p>
                {{applicationDescription}}
            </p>
            <h2>
                1.2 Description
            </h2>
            <p>
                {{applicationDescription}}
            </p>
            <h2>
                1.3 Prerequisites
            </h2>
            <p>
                <em>N/A </em>
            </p>
            <h2>
                1.4 Technical information
            </h2>
            <p>Please fill in the following table.</p>

            <table>
                <tbody>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Criteria</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>
                                <strong>Possible choices</strong>
                            </p>
                        </td>
                        <td width='278'>
                            <p>
                                <strong>Customer data</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Application Type</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>- Middleware&nbsp;&nbsp;</p>
                            <p>- Applications behind middleware&nbsp;&nbsp;</p>
                            <p>- Stand alone&nbsp;</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Which company will actually develop the Amadeus integration layer ?</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>-Requesting carrier</p>
                            <p>-3
                                <sup>rd</sup> party company</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Is this application re-using any existing WSAP? </strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>The existing WSAP name (1ASIWXXXYY)</p>
                        </td>
                        <td width='278'>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Do you re-use an existing Session Management model?</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>Y/N</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>List of Web Services</strong>
                            </p>
                            <p>
                                <strong>&nbsp;</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>All services in catalogue</p>
                        </td>
                        <td width='278'>
                            {{syncServices}}
                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Web services Framework</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>- .Net (version)</p>
                            <p>- Axis2</p>
                            <p>- XFire</p>
                            <p>- JaxWS</p>
                            <p>-
                                <em>other (please specify)</em>
                            </p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Hosting Type</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>- Airline</p>
                            <p>- 3
                                <sup>rd</sup> party</p>
                            <p>- Public Cloud</p>
                            <p>-
                                <em>other (please specify)</em>
                            </p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Transaction volumes per unit time (TPS)</strong>
                            </p>
                            <p>
                                <strong>At peak time</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>N/A</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Parallel sessions at peak time</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>N/A**</p>
                            <p>&nbsp;</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>End User type</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>- Airline Agent</p>
                            <p>- Public</p>
                            <p>- Robot</p>
                            <p>- Travel Agent
                                <strong>* </strong>
                            </p>
                            <p>&nbsp;</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                    <tr>
                        <td width='165'>
                            <p>
                                <strong>Targetted operating carrier codes</strong>
                            </p>
                        </td>
                        <td width='123'>
                            <p>- IATA code(s)</p>
                        </td>
                        <td width='278'>

                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>
                <em>*&nbsp;&nbsp;&nbsp; Special contractual agreement is required</em>
            </p>
            <p>**
                <em>&nbsp;&nbsp; Please note that the maximum number of sessions for test environments is limited to 2</em>
            </p>
            <p>***
                <em>If the answer is no, please use the form in chapter 1.4.1 to request new WSAP creation</em>
            </p>
            <p>Based on those values you may identify the level of risk of your application by referring to tab &ldquo;Application
                risk assessment&rdquo; of the following document: &ldquo;POL-IMP-0183-Web services Compliance Rules&rdquo;.</p>

            <p>If you have specific load testing needs that will require more traffic than mentioned above, please advise and
                we will try to organise a load test window for you. Please note we need a minimum of 20 working days notice
                to organise a load test.</p>

            <p>If needed, please request guidelines from your Customer Implementation Manager for values to be used in Production.</p>


            <h3>
                1.4.1 &nbsp;New WSAP creation
            </h3>

            <p>The following table is conditional and needs to be filled in only if you are requesting a new, dedicated WSAP
                for the application (e.g. not re-using any existing WSAP). In case any of the values will be different for
                test environments please indicate both test and production ones.</p>

            <table>
                <tbody>
                    <tr>
                        <td width='228'>
                            <p>
                                <strong>Criteria</strong>
                            </p>
                        </td>
                        <td width='140'>
                            <p>
                                <strong>Possible choices</strong>
                            </p>
                        </td>
                        <td width='198'>
                            <p>
                                <strong>Customer data</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='228'>
                            <p>
                                <strong>WSAP Name (if known)</strong>
                            </p>
                        </td>
                        <td width='140'>
                            <p>1ASIWXXXYY</p>
                        </td>
                        <td width='198'>
                            <p>
                                <em>The name of the new WSAP to be created according to Amadeus naming conventions (leave blank
                                    the name was not agreed yet)</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='228'>
                            <p>
                                <strong>WSAP Network connectivity</strong>
                            </p>
                        </td>
                        <td width='140'>
                            <p>- Private IP + https</p>
                            <p>- Private IP + http</p>
                            <p>- Public IP + https</p>
                        </td>
                        <td width='198'>
                            <p>
                                <em>This parameter specifies the preferred way of connecting to the WSAP.</em>
                            </p>
                            <p>
                                <em>-&ldquo;Public IP&rdquo; means Internet access </em>
                            </p>
                            <p>
                                <em>-&ldquo;Private IP&rdquo; means Intranet access through VPN</em>
                            </p>
                            <p>
                                <em>NOTE: &ldquo;https&rdquo; uses TLS 1.2 or higher;</em>
                            </p>
                            <p>
                                <em>&ldquo;Private IP + https&rdquo; is recommended</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan='2' width='228'>
                            <p>
                                <strong>IP Addresses Range (VPN)</strong>
                            </p>
                        </td>
                        <td width='140'>
                            <p>
                                <strong>TEST:</strong>
                            </p>
                            <p>
                                <strong>&nbsp;</strong>
                            </p>
                            <p>Re-use existing</p>
                            <p>&hellip;
                                <em>otherwise specify a list (or a range) of IPs</em>
                            </p>
                        </td>
                        <td rowspan='2' width='198'>
                            <p>
                                <em>List all the IP addresses used on the client side, </em>
                            </p>
                            <p>
                                <em>or specify &ldquo;Re-use existing&rdquo; in case VPN is already setup and you want to re-use
                                    the same configuration. </em>
                            </p>
                            <p>
                                <em>&nbsp;</em>
                            </p>
                            <p>
                                <em>The production IP addresses can be filled in later if unknown at this stage.</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='140'>
                            <p>
                                <strong>PRODUCTION:</strong>
                            </p>
                            <p>
                                <strong>&nbsp;</strong>
                            </p>
                            <p>Re-use existing</p>
                            <p>
                                <em>&hellip;otherwise specify a list (or a range) of IPs</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='228'>
                            <p>
                                <strong>Compression used?</strong>
                            </p>
                        </td>
                        <td width='140'>
                            <p>Y/N</p>
                        </td>
                        <td width='198'>
                            <p>
                                <em>Will you be using any compression in HTTP protocol.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <h2>
                1.5 Other Comments
            </h2>
            <p>
                <em>Add comments here if needed </em>
            </p>
            <h2>
                1.6 Functional Flows</li>
            </h2>

            <h3>
                1.6.1&nbsp;&lt;
                <em>Functional flow name</em>&gt;
            </h3>

            <table>
                <tbody>
                    <tr>
                        <td width='144'>
                            <p>
                                <strong>Information</strong>
                            </p>
                        </td>
                        <td width='159'>
                            <p>
                                <strong>Description</strong>
                            </p>
                        </td>
                        <td width='263'>
                            <p>
                                <strong>Customer data</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='144'>
                            <p>
                                <strong>Actual calls to Amadeus Web Services</strong>
                            </p>
                        </td>
                        <td width='159'>
                            <p>Exact name of the Web Service.</p>
                        </td>
                        <td width='263'>

                        </td>
                    </tr>
                    <tr>
                        <td width='144'>
                            <p>
                                <strong>Possible error cases</strong>
                            </p>
                        </td>
                        <td width='159'>
                            <p>Error cases or conditional scenarios leading to specific Web Services calls or Releasing of sessions
                                (see conditions in the example below).</p>
                        </td>
                        <td width='263'>
                            <p>- SOAP Errors &rarr; Retry 1 Time. (configurable) &rarr; Invalidate Session</p>
                            <p>
                                <em>- TimeOut Errors &rarr; Retry 1 Time (configurable) &rarr; Invalidate Session</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='144'>
                            <p>
                                <strong>Session Model</strong>
                            </p>
                        </td>
                        <td width='159'>
                            <p>- Stateless (no session)</p>
                            <p>- Dedicated</p>
                            <p>- Pooled-stateless</p>
                            <p>- Pooled-stateful</p>
                        </td>
                        <td width='263'>
                            <p>
                                <em>Stateless (Pooled)</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='144'>
                            <p>
                                <strong>Trigger and frequency of the flow activation</strong>
                            </p>
                        </td>
                        <td width='159'>
                            <p>
                                <strong>&nbsp;</strong>
                            </p>
                        </td>
                        <td width='263'>
                            <p>
                                <em>Triggered Manually by Passengers.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <h2>
                1.7 Technical Flows for Session Management
            </h2>

            <p>Connections are programmatically &ldquo;Pooled&rdquo; internally.&nbsp; This is both for historical reasons (older
                soap headers with sign-in/sign-out are supported if necessary), and practical connection maintenance. Soap
                Header V4.0 stateless connections do not maintain &ldquo;signed-in&rdquo; connections.&nbsp; Pooling is used
                in this scenario to control concurrency limits, and for internal memory management.</p>
            <p>The Check-in Application uses a dedicated session pool for each web service access point (WSAP). The session
                pooling uses classes based on the GenericKeyedObjectPool from the Apache Commons Pool project.</p>
            <p>When a client sends a request to the Check-in Application, a session is requested from the session pool using
                the session pool key (e.g. WCI for the Web Check-In WSAP). If the session pool manager has an available session
                (maxIdle), this session is returned. If no session is available but the maximum number of active sessions
                (maxActive) has not been reached, the manager creates a new session. If the maximum number of active sessions
                (maxActive) has been reached, the manager returns an error (NOMORETERMINALS).</p>
            <p>The object pool implementation automatically invalidates idle sessions after a configurable amount of time (minEvictableIdleTimeMillis).
                During invalidation, the pool manager signs out the Amadeus session using the Security_SignOut service.</p>
            <p>&nbsp;</p>
            <p>For more information, refer to the Apache Commons Pool documentation [1].</p>
            <p>[1] http://commons.apache.org/proper/commons-pool/api-2.2/org/apache/commons/pool2/impl/GenericKeyedObjectPool.html</p>
            <p>&nbsp;</p>
            <table>
                <tbody>
                    <tr>
                        <td colspan='2' width='306'>
                            <p>
                                <strong>Information</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <strong>Customer Data</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' width='306'>
                            <p>
                                <strong>How pools are selected?</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <em>Single Client Side &ldquo;Pool&rdquo;&nbsp; </em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan='3' width='178'>
                            <p>
                                <strong>Associated credentials used:</strong>
                            </p>
                        </td>
                        <td width='127'>
                            <p>
                                <strong>User ID</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <em>N/A</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='127'>
                            <p>
                                <strong>Password</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <em>N/A</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width='127'>
                            <p>
                                <strong>OfficeID</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <em>N/A</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' width='306'>
                            <p>
                                <strong>How are sessions taken and returned to the pool?</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>
                                <em>Apache Commons Pooling Model.&nbsp; See Diagram.&nbsp; </em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' width='306'>
                            <p>
                                <strong>How is ITO handled?</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>(configurable by GenericKeyedObjectPool's minEvictableIdleTimeMillis)</p>
                            <p>
                                <em>EvictionRuns 60s (configurable by GenericKeyedObjectPool's timeBetweenEvictionRunsMillis)</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' width='306'>
                            <p>
                                <strong>How many concurrent sockets are used?</strong>
                            </p>
                        </td>
                        <td width='260'>
                            <p>Max. 50 IDLE (configurable by GenericKeyedObjectPool's maxIdle)</p>
                            <p>
                                <em>Max. 25 ACTIVE (configurable by GenericKeyedObjectPool's maxActive)</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>1.7.1 NEWSESSION
                <br /> Used when an idle connection is not available on the pool.</p>
            <p>&nbsp;</p>
            <p>1.7.2 USESESSION
                <br /> Used when an idle connection is available on the pool.</p>
            <p>&nbsp;</p>
            <p>1.7.2&nbsp; INVALIDATESESSION</p>
            <p>Used when a connection has expired, or a Soap Fault or Exception is returned from a DCS request.</p>
            <p>&nbsp;</p>


        </div>

        <br/>
        <table id='hrdftrtbl' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td>
                    <div style='mso-element:header; float: right; font-size: 12px; float: right;' id=h1>
                        <!-- HEADER-tags -->
                        <p class=MsoHeader>{{applicationName}} Questionnaire</p>
                        <!-- end HEADER-tags -->
                    </div>
                </td>
                <td>
                    <div style='mso-element:footer;' id=f1>
                        <span style='position:relative;z-index:-1; font-size: 12px;'>
                            <table style="border: 1px">
                                <tr>
                                    <td style="width: 80%; font-size: 12px; border: 0px">
                                        Airline IT Implementation - Impacted Systems
                                        <br> {{currentDate}}
                                        <br> Page
                                        <span style='mso-field-code: PAGE'></span>
                                        <span style='mso-no-proof:yes'></span> from
                                        <span style='mso-field-code: NUMPAGES '></span>
                                    </td>
                                    <td style="border: 0px">
                                        <span style='position: relative ;z-index:-1; align-self: right;'>
                                            <img src="http://171.17.25.37:9002/selfservice/assets/img/Login_Logo_Amadeus.png" alt="MDN logo" height="15px">
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <!-- FOOTER-tags -->

                            <!-- end FOOTER-tags -->
                        </span>

                        </p>
                    </div>



                    <div style='mso-element:header ' id=fh1>
                        <p class=MsoHeader>
                            <span lang=EN-US style='mso-ansi-language:EN-US '>&nbsp;
                                <o:p></o:p>
                            </span>
                        </p>
                    </div>
                    <div style='mso-element:footer ' id=ff1>
                        <p class=MsoFooter>
                            <span lang=EN-US style='mso-ansi-language:EN-US '>&nbsp;
                                <o:p></o:p>
                            </span>
                        </p>
                    </div>

                </td>
            </tr>
        </table>
    </div>

</body>

</html>