<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<h1>
  <small class="text-info">EMS Async Service Catalogue</small>
</h1>
<hr>

<!-- Destination Table -->

<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data && currentPosition == 0">
  <caption>
    <h2>
      <small class="text-info">Destination</small>
    </h2>
  </caption>

  <thead>    
    <tr>
      <th style="width: 5px">
        <mfRowSelectorHead></mfRowSelectorHead>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="customer" required [(ngModel)]="customer" (ngModelChange)="filterDestination()"
          />
        </div>
        <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
        <br>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationName" required [(ngModel)]="destinationName" (ngModelChange)="filterDestination()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsDestinationName">Destination Name</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationType" required [(ngModel)]="destinationType" (ngModelChange)="filterDestination()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsDestinationType">Destination Type</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filterDestination()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsInstance">Deployed In Instance</mfDefaultSorter>
        </div>
      </th>
      <th>
        <mfDefaultSorter by="emsDestinationProperties">Destination Properties</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="emsDestinationFullStrategy">Destination Full Strategy</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crNumber">CR Number</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crDesc">CR Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="trNumber">TR Number</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>
        <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
      </td>
      <td>{{item.customer}}</td>
      <td>{{item.emsDestinationName}}</td>
      <td>{{item.emsDestinationType}}</td>
      <td>{{item.emsInstance}}</td>
      <td>{{item.emsDestinationProperties}}</td>
      <td>{{item.emsDestinationFullStrategy}}</td>
      <td>{{item.crNumber}}</td>
      <td>{{item.crDesc}}</td>
      <td>{{item.trNumber}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr>
      <td colspan="10">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="nextCatalog()" [disabled]="next > 3">
          Next
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Bridges Table -->

<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data && currentPosition == 1">

  <caption>
    <h2>
      <small class="text-info">Bridges</small>
    </h2>
  </caption>

  <thead>
    
    <tr>
      <th style="width: 5px">
        <mfRowSelectorHead></mfRowSelectorHead>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filterBridges()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsInstance">Deployed In Instance</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="sourceDestinationName" required [(ngModel)]="sourceDestinationName" (ngModelChange)="filterBridges()"
          />
        </div>
        <div style="color : #00a3cc">
          Source Destination Name
        </div>
      </th>
      <th>
        <div style="color : #00a3cc; width: 180px">
          Source Destination Type
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="targetDestinationName" required [(ngModel)]="targetDestinationName" (ngModelChange)="filterBridges()"
          />
        </div>
        <div style="color : #00a3cc">
          Target Destination Name
        </div>
      </th>
      <th>
        <div style="color : #00a3cc; width: 180px">
          Target Destination Type
        </div>
      </th>
      <th>
        <mfDefaultSorter by="crNumber">CR Number</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crDesc">CR Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="trNumber">TR Number</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>
        <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
      </td>
      <td>{{item.emsInstance}}</td>
      <td>{{item.sourceDestination.emsDestinationName}}</td>
      <td>{{item.sourceDestination.emsDestinationType}}</td>
      <td>{{item.targetDestination.emsDestinationName}}</td>
      <td>{{item.targetDestination.emsDestinationType}}</td>
      <td>{{item.crNumber}}</td>
      <td>{{item.crDesc}}</td>
      <td>{{item.trNumber}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr border=0>
      <td colspan="9">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="nextCatalog()" [disabled]="next > 3">
          Next
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Durables Table -->

<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data && currentPosition == 2">
  <caption>
    <h2>
      <small class="text-info">Durables</small>
    </h2>
  </caption>
  <thead>
    
    <tr>
      <th style="width: 5px">
        <mfRowSelectorHead></mfRowSelectorHead>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filterDurables()"
          />
        </div>
        <div>
          <mfDefaultSorter by="emsInstance">Deployed In Instance</mfDefaultSorter>
        </div>
      </th>
      <th>
        <!--
        <div style="width: 150px">
          <input type="text" class="form-control" name="sourceDestinationName" required [(ngModel)]="sourceDestinationName" (ngModelChange)="filter()"
          />
        </div >
      -->
        <div style="color : #00a3cc">
          Topic Name
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="durableName" required [(ngModel)]="durableName" (ngModelChange)="filterDurables()"
          />
        </div>
        <div>
          <mfDefaultSorter by="durableName">Durable Name</mfDefaultSorter>
        </div>
      </th>
      <th>
        <div style="color : #00a3cc">Durable Properties</div>
      </th>
      <th>
        <mfDefaultSorter by="crNumber">CR Number</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="crDesc">CR Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="trNumber">TR Number</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>
        <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
      </td>
      <td>{{item.emsInstance}}</td>
      <td>
        <div *ngIf="item.destination">{{item.destination.emsDestinationName}}</div>
      </td>
      <td>{{item.durableName}}</td>
      <td>{{item.durableProperties}}</td>
      <td>{{item.crNumber}}</td>
      <td>{{item.crDesc}}</td>
      <td>{{item.trNumber}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <button type="button" class="btn btn-primary" style="align-self: center" (click)="nextCatalog()" [disabled]="next > 3">
          Next
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </td>
    </tr>
  </tfoot>
</table>


<!-- Tech Users Table -->

<table class="table table-striped table-bordered table-hover table-condensed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="25"
  (mfSelectedEntities)="setSelectedEntities($event)" *ngIf="data && currentPosition == 3">
  <caption>
    <h2>
      <small class="text-info">Technical User</small>
    </h2>
  </caption>
  <thead>    
    <tr>
      <th style="width: 5px">
        <mfRowSelectorHead></mfRowSelectorHead>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsInstance" required [(ngModel)]="emsInstance" (ngModelChange)="filterTechUsers()"
          />
        </div>
        <div style="color : #00a3cc; width: 180px">
          Deployed In Instance
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationName" required [(ngModel)]="destinationName" (ngModelChange)="filterTechUsers()"
          />
        </div>
        <div style="color : #00a3cc">
          Destination Name
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="destinationType" required [(ngModel)]="destinationType" (ngModelChange)="filterTechUsers()"
          />
        </div>
        <div style="color : #00a3cc; width: 180px">
          Destination Type
        </div>
      </th>
      <th>
        <div style="width: 150px">
          <input type="text" class="form-control" name="emsTechnicalUser" required [(ngModel)]="emsTechnicalUser" (ngModelChange)="filterTechUsers()"
          />
        </div>
        <mfDefaultSorter by="emsTechnicalUser">
          EMS Technical User
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="permission">
          Permission
        </mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data; let ndx = index">
      <td>
        <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
      </td>
      <td>{{item.destination.emsInstance}}</td>
      <td>{{item.destination.emsDestinationName}}</td>
      <td>{{item.destination.emsDestinationType}}</td>
      <td>{{item.emsTechnicalUser}}</td>
      <td>{{item.permission}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button type="button" class="btn btn-success" (click)="submitEMSDetails()">
          <span class="glyphicon glyphicon-chevron-right"></span> Submit
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </td>
    </tr>
  </tfoot>
</table>