<ul class="nav navbar-stacked">
    <li *ngFor="let item of items" [ngClass]="{'active' : selected == item}">
      <a  (click)="onItemClicked(item)" *ngIf="item.name != 'Approvals'"> {{item.name}} </a>
      <a  (click)="onItemClicked(item)" *ngIf="item.name == 'Approvals'"> {{item.name}} <span class="badge">{{approvalCount}}</span></a>
    </li>
</ul>