<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="intro" class="col-sm-11">
  <h3>Introduction</h3>  
  <p style="text-align:justify">
    {{intro.introduction}}
  </p>
  <h3>Document Scope</h3>
  <p style="text-align:justify">
    {{intro.docScope}}
  </p>
  <h3>Responsibilities</h3>
  <p style="text-align:justify">
    {{intro.responsibilities}}
  </p>
  <h3>ZAMBAS R6 Information</h3>
  <div class="col-sm-10" style="margin-bottom: 20px">
    <table>
      <tr>
        <th class="tableRow1">ZAMBAS R6 System Responsible</th>
        <td class="tableRow1" style="text-align:justify">{{intro.zr6SysResp}}</td>
      </tr>
      <tr>
        <th class="tableRow2">ZAMBAS R6 Change Management</th>
        <td class="tableRow2" style="text-align:justify">{{intro.zr6ChngMngmnt}}</td>
      </tr>
      <tr>
        <th class="tableRow1">ZAMBAS R6 Incident Management</th>
        <td class="tableRow1" style="text-align:justify">{{intro.zr6IncMngmnt}}</td>
      </tr>
      <tr>
        <th class="tableRow2">ZAMBAS R6 Description</th>
        <td class="tableRow2" style="text-align:justify">{{intro.zr6Desc}}</td>
      </tr>
    </table>
  </div>

  

</div>