/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.tableHeader {
    background: gray;
    color: white;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    border-radius: 5px;
}
.tableBody {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid gray;
}
.tableBorder {
    border: 1px solid gray;
    align-self: center;
}
.divPosition {
    width: 100%;    
    padding-top: 10px;
    align-content: center;
    align-items: center;
    height: 550px;
    padding-left: 40px
    
}
.fixDivSize {    
    height: 550px;
}

.tableRow1 {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #cccccc;
    background: #efefef;
    color: #555555;
    border-radius: 5px;
}

.tableRow2 {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #cccccc;
    background: #f8f8f8;
    color: #555555;
    border-radius: 5px;
}

.approvalTableHeader {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    background-color: gray; 
    border: 1px solid #cccccc;
}

ins {
	color: black;
	background: #bbffbb !important;
}

del {
	color: black;
	background: #ffbbbb !important;
}