<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<button type="button" class="btn btn-primary active" style="margin-left: 5px" (click)="downloadPDF()">
    <span class="glyphicon glyphicon-download-alt"></span>
</button>

