<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="!editModeOn && !enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="asyncServices && asyncServices.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addAsync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Async Service</button>
    </div>
    <h2>No Asynchronous Services available</h2>
    <br>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="asyncServices && asyncServices.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addAsync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Async Service</button>
    </div>
    <accordion>
      <accordion-group #group [panelClass]="panel-default" *ngFor="let asyncServ of asyncServices">
        <div accordion-heading>
          {{asyncServ.serviceName}}
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active " tooltip="Edit this service" placement="top" (click)="enableEdit(asyncServ)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>&nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(asyncServ)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <table>
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1"> {{asyncServ.serviceName}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Version</th>
              <td class="tableRow2"> {{asyncServ.version}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Application Role</th>
              <td class="tableRow1"> {{asyncServ.appRole}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Comments</th>
              <td class="tableRow2"> {{asyncServ.comments}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Purpose Of Usage</th>
              <td class="tableRow1"> {{asyncServ.purposeOfUsage}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Criticality</th>
              <td class="tableRow2"> {{asyncServ.criticality}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Justification of Criticality</th>
              <td class="tableRow1"> {{asyncServ.criticalityJustification}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Workaround</th>
              <td class="tableRow2"> {{asyncServ.workaround}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Data Worth Protection</th>
              <td class="tableRow1"> {{asyncServ.dataWorthProtection}} </td>
            </tr>
          </table>          
          <button style="margin-top: 10px; margin-bottom: 10px; width : 50%" class="btn btn-primary active btn-block" (click)="addDestinations(asyncServ.serviceName)"
            *ngIf="isEditAllowed">
            <span class="glyphicon glyphicon-plus"></span> Add EMS Destinations</button>
          <table *ngFor="let ems of asyncServ.emsDetails">
            <caption>
              <h4>
                {{ems.emsDestinationName}}
                <button type="button" style="float: right; margin-bottom: 3px" class="btn btn-danger" tooltip="Remove this destination" placement="left"
                  (click)="removeDestination(ems.emsDestinationName, ems.emsDestinationType, ems.deployedInInstance, asyncServ.serviceName)" *ngIf="isEditAllowed">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>

              </h4>
            </caption>
            <tr>
              <th class="tableRow1">EMS Destination Type</th>
              <td class="tableRow1"> {{ems.emsDestinationType}} </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Destination Name</th>
              <td class="tableRow2"> {{ems.emsDestinationName}} </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Destination Prop</th>
              <td class="tableRow1"> {{ems.emsDestinationProp}} </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Destination Purpose</th>
              <td class="tableRow2"> {{ems.emsDestinationPurpose}} </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Destination Full Strategy</th>
              <td class="tableRow1"> {{ems.emsDestinationFullStrategy}} </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Durable Name</th>
              <td class="tableRow2"> {{ems.emsDurableName}} </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Durable Prop</th>
              <td class="tableRow1"> {{ems.emsDurableProp}} </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Tech User Group</th>
              <td class="tableRow2"> {{ems.emsTechUserGroup}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Bridged Destination Type</th>
              <td class="tableRow1"> {{ems.bridgedDestinationType}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Bridged Destination Name</th>
              <td class="tableRow2"> {{ems.bridgedDestinationName}} </td>
            </tr>
            <tr>
              <th class="tableRow1">User Permission</th>
              <td class="tableRow1"> {{ems.userPermission}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Deployed In Instance</th>
              <td class="tableRow2"> {{ems.deployedInInstance}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Day</th>
              <td class="tableRow1"> {{ems.meanCallsPerDay}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Day</th>
              <td class="tableRow2"> {{ems.peakCallsPerDay}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Minute</th>
              <td class="tableRow1"> {{ems.meanCallsPerSec}} </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Minute</th>
              <td class="tableRow2"> {{ems.peakCallsPerSec}} </td>
            </tr>
            <tr>
              <th class="tableRow1">Daily Load Distribution Period</th>
              <td class="tableRow1"> {{ems.dailyLoadDistributionPeriod}} </td>
            </tr>
          </table>
          <br>
          <br>
        </div>
      </accordion-group>
    </accordion>
    <br>
    <br>
  </div>
</div>

<div *ngIf="!editModeOn && enableDiff" class="col-sm-11">
  <div class="divPosition" style="margin-right: 10%; color: gray; background-color: white" *ngIf="diffAsync && diffAsync.length == 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addAsync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Async Service</button>
    </div>
    <h2>No Asynchronous Services available</h2>
    <br>
  </div>
  <div class="divPosition" style="margin-right: 10%; background-color: white" *ngIf="diffAsync && diffAsync.length != 0">
    <div *ngIf="isEditAllowed">
      <button style="margin-top: 10px" class="btn btn-primary active btn-block" (click)="addAsync()">
        <span class="glyphicon glyphicon-plus"></span> Add New Async Service</button>
    </div>
    <accordion>
      <accordion-group #group *ngFor="let asyncServ of diffAsync" [panelClass]="panel-default">
        <div accordion-heading>
          <span [innerHtml]="asyncServ.title"></span>
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div>
          <div *ngIf="isEditAllowed">
            <button style="margin-top: 10px" class="btn btn-primary active " tooltip="Edit this service" placement="top" (click)="enableEdit(asyncServ)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>&nbsp;
            <button style="margin-top: 10px" class="btn btn-danger" tooltip="Remove this service" placement="top" (click)="remove(asyncServ)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <table>
            <tr>
              <th class="tableRow1">Service Name</th>
              <td class="tableRow1">
                <div [innerHtml]="asyncServ.serviceName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Version</th>
              <td class="tableRow2">
                <div [innerHtml]="asyncServ.version"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Application Role</th>
              <td class="tableRow1">
                <div [innerHtml]="asyncServ.appRole"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Comments</th>
              <td class="tableRow2">
                <div [innerHtml]="asyncServ.comments"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Purpose Of Usage</th>
              <td class="tableRow1">
                <div [innerHtml]="asyncServ.purposeOfUsage"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Criticality</th>
              <td class="tableRow2">
                <div [innerHtml]="asyncServ.criticality"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Justification of Criticality</th>
              <td class="tableRow1">
                <div [innerHtml]="asyncServ.criticalityJustification"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Workaround</th>
              <td class="tableRow2">
                <div [innerHtml]="asyncServ.workaround"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Data Worth Protection</th>
              <td class="tableRow1">
                <div [innerHtml]="asyncServ.dataWorthProtection"></div>
              </td>
            </tr>
          </table>

          <table *ngFor="let ems of asyncServ.emsDetails">
            <caption>
              <h4>
                <div [innerHtml]="ems.emsDestinationName"></div>
              </h4>
            </caption>
            <tr>
              <th class="tableRow1">EMS Destination Type</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.emsDestinationType"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Destination Name</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.emsDestinationName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Destination Prop</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.emsDestinationProp"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Destination Purpose</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.emsDestinationPurpose"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Destination Full Strategy</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.emsDestinationFullStrategy"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Durable Name</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.emsDurableName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">EMS Durable Prop</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.emsDurableProp"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">EMS Tech User Group</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.emsTechUserGroup"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Bridged Destination Type</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.bridgedDestinationType"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Bridged Destination Name</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.bridgedDestinationName"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">User Permission</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.userPermission"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Deployed In Instance</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.deployedInInstance"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Day</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.meanCallsPerDay"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Day</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.peakCallsPerDay"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Mean Calls Per Minute</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.meanCallsPerSec"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow2">Peak Calls Per Minute</th>
              <td class="tableRow2">
                <div [innerHtml]="ems.peakCallsPerSec"></div>
              </td>
            </tr>
            <tr>
              <th class="tableRow1">Daily Load Distribution Period</th>
              <td class="tableRow1">
                <div [innerHtml]="ems.dailyLoadDistributionPeriod"></div>
              </td>
            </tr>
          </table>
          <br>
          <br>
        </div>
      </accordion-group>
    </accordion>
    <br>
    <br>
  </div>
</div>

<div *ngIf="editModeOn" class="divPosition">
  <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" validate>
    <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !serviceName.valid }">
          <label for="serviceName">Service Name</label>
          <input type="text" class="form-control" name="serviceName" [(ngModel)]="async.serviceName" #serviceName="ngModel" required
            pattern="^[-\w ()_-]+$" />
          <div *ngIf="f.submitted && !serviceName.valid" class="help-block">Service Name is not valid</div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !version.valid }">
          <label for="version">Version</label>
          <input type="text" class="form-control" name="version" [(ngModel)]="async.version" #version="ngModel" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !appRole.valid }">
          <label for="appRole">Application Role</label>
          <select class="form-control" name="appRole" [(ngModel)]="async.appRole" #appRole="ngModel">
            <option value="Consumer" [selected]="async.appRole == 'Consumer'">Consumer</option>
            <option value="Producer" [selected]="async.appRole == 'Producer'">Producer</option>
          </select>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !dataWorthProtection.valid }">
          <label for="dataWorthProtection">Data Worth Protection</label>
          <select class="form-control" name="dataWorthProtection" [(ngModel)]="async.dataWorthProtection" #dataWorthProtection="ngModel">
            <option value="PCI" [selected]="async.dataWorthProtection == 'PCI'">PCI</option>
            <option value="No" [selected]="async.dataWorthProtection == 'No'">No</option>
            <option value="Other" [selected]="async.dataWorthProtection == 'Other'">Other</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !comments.valid }">
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comments" [(ngModel)]="async.comments" #comments="ngModel"></textarea>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !purposeOfUsage.valid }">
          <label for="purposeOfUsage">Purpose of Usage</label>
          <textarea class="form-control" name="purposeOfUsage" [(ngModel)]="async.purposeOfUsage" #purposeOfUsage="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticality.valid }">
          <label for="criticality">Criticality</label>
          <select class="form-control" name="criticality" [(ngModel)]="async.criticality" #criticality="ngModel">
            <option value="Low" [selected]="async.criticality == 'Low'">Low</option>
            <option value="Medium" [selected]="async.criticality == 'Medium'">Medium</option>
            <option value="High" [selected]="async.criticality == 'High'">High</option>
            <option value="Very High" [selected]="async.criticality == 'Very High'">Very High</option>
          </select>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !criticalityJustification.valid }">
          <label for="criticalityJustification">Justification of Criticality</label>
          <textarea class="form-control" name="criticalityJustification" [(ngModel)]="async.criticalityJustification" #criticalityJustification="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !workaround.valid }">
          <label for="workaround">Workaround</label>
          <input type="text" class="form-control" name="workaround" [(ngModel)]="async.workaround" #workaround="ngModel" />
        </div>

      </div>
    </div>
    <div class="col-sm-7">
      <button type="button" style="margin-top: 10px; margin-bottom: 10px" class="btn btn-primary active btn-block" (click)="addDestinations()">
        <span class="glyphicon glyphicon-plus"></span> Add EMS Destinations</button>
    </div>

    <div *ngFor="let ems of async.emsDetails; let i = index">
      <div class="col-sm-7">
        <h4>
          {{async.emsDetails[i].emsDestinationName}}
          <button type="button" style="float: right; margin-bottom: 3px" class="btn btn-danger" tooltip="Remove this destination" placement="left"
            (click)="removeDestination(async.emsDetails[i].emsDestinationName, async.emsDetails[i].emsDestinationType, async.emsDetails[i].deployedInInstance)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </h4>
      </div>
      <div style="border: solid 1px #cccccc; padding: 5px;" class="col-sm-7 well well-sm">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="emsDestinationType">EMS Destination Type</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].emsDestinationType" disabled>
              <option value="Queue" [selected]="async.emsDetails[i].emsDestinationType == 'Queue'">Queue</option>
              <option value="Topic" [selected]="async.emsDetails[i].emsDestinationType == 'Topic'">Topic</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="emsDestinationName">EMS Destination Name</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].emsDestinationName"
              disabled />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="emsDestinationProp">EMS Destination Prop</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].emsDestinationProp"
              #emsDestinationProp="ngModel" disabled />
          </div>
          <div class="form-group col-sm-6">
            <label for="emsDestinationFullStrategy">EMS Destination Full Strategy</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].emsDestinationFullStrategy"
              #emsDestinationFullStrategy="ngModel">
              <option value="Drop Old" [selected]="async.emsDetails[i].emsDestinationFullStrategy == 'Drop Old'">Drop Old Messages</option>
              <option value="Reject New" [selected]="async.emsDetails[i].emsDestinationFullStrategy == 'Reject New'">Reject New Messages</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="emsDestinationPurpose">EMS Destination Purpose</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].emsDestinationPurpose"
              #emsDestinationPurpose="ngModel" />
          </div>
          <div class="form-group col-sm-6">
            <label for="deployedInInstance">Deployed in Instance</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].deployedInInstance"
              #deployedInInstance="ngModel" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="emsDurableName">EMS Durable Name</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].emsDurableName"
              #emsDurableName="ngModel" />
          </div>
          <div class="form-group col-sm-6">
            <label for="emsDurableProp">EMS Durable Prop</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].emsDurableProp"
              #emsDurableProp="ngModel" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="bridgedDestinationType">Bridged Destination Type</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].bridgedDestinationType"
              #bridgedDestinationType="ngModel" />
          </div>
          <div class="form-group col-sm-6">
            <label for="bridgedDestinationName">Bridged Destination Name</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].bridgedDestinationName"
              #bridgedDestinationName="ngModel" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="emsTechUserGroup">EMS Tech User Group</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].emsTechUserGroup"
              #emsTechUserGroup="ngModel" />
          </div>
          <div class="form-group col-sm-6">
            <label for="userPermission">User Permission</label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="async.emsDetails[i].userPermission"
              #userPermission="ngModel" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanCallsPerDay.valid }">
            <label for="meanCallsPerDay">Mean Calls / Day</label>
            <input type="number" [min]="0" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].meanCallsPerDay"
              #meanCallsPerDay="ngModel" />
          </div>
          <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakCallsPerDay.valid }">
            <label for="peakCallsPerDay">Peak Calls / Day</label>
            <input type="number" [min]="0" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].peakCallsPerDay"
              #peakCallsPerDay="ngModel" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !meanCallsPerSec.valid }">
            <label for="meanCallsPerSec">Mean Calls / Second</label>
            <input type="number" [min]="0" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].meanCallsPerSec"
              #meanCallsPerSec="ngModel" />
          </div>
          <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !peakCallsPerSec.valid }">
            <label for="peakCallsPerSec">Peak Calls / Second</label>
            <input type="number" [min]="0" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].peakCallsPerSec"
              #peakCallsPerSec="ngModel" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6" [ngClass]="{ 'has-error': f.submitted && !dailyLoadDistributionPeriod.valid }">
            <label for="dailyLoadDistributionPeriod">Daily Load Distribution Period</label>
            <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="async.emsDetails[i].dailyLoadDistributionPeriod"
              #dailyLoadDistributionPeriod="ngModel"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" (click)="setSaveType('save')">
        <span class="glyphicon glyphicon-floppy-save"></span> Save Draft</button>
      <button type="submit" class="btn btn-primary" (click)="setSaveType('saveAndClose')">
        <span class="glyphicon glyphicon-floppy-save"></span> Save Draft and Close</button>
      <button type="button" class="btn btn-info" (click)="onDiscard()">
        <span class="glyphicon glyphicon-floppy-remove"></span> Discard</button>
    </div>
  </form>
</div>